[2018-05-01 22:26] mernst commented on #1955
This issue mixes together three different enhancements.
I'm closing it in favor of #1969, #1970, and #1971.

[2018-05-01 22:26] #1955 closed

[2018-05-01 22:52] wmdietl commented on #1969
https://github.com/typetools/checker-framework/issues/1955#issuecomment-383941738 mentions that we should ensure that performance doesn't suffer from the additional annotation checks.

[2018-05-02 15:30] smillst commented on #1739
This one we can't rename without changing the way we alias declaration annotations.  (It only contains `org.jmlspecs.annotation.Pure`.)
* org.jmlspecs

These are from the javac.jar, which can't be renamed or else they don't work properly with javac.
* com.sun
* sun
* javax

These are from typetools/annotation-tools
* annotator (okay, this one might be okay, it's from typetools as well?)
* scenelib

[2018-05-02 17:02] googlerkev opened #1972 "Feature Request: Support Android's LayoutInflater in the constructor"
I want to inflate and add a LinearLayout. So in the constructor I do:
[code]
I've tried calling various forms of LayoutInflater.inflate()

The outcome is one of the three:

1.  found   : @UnderInitialization Foo
    required: @Initialized @NonNull Foo
2.  call to addView(android.view.View) not allowed on the given receiver.
3.  Layout doesn't render properly.

The only work around is to suppress w

[2018-05-10 09:11] adiaholic commented on #215
Facing the same issue again !

[2018-05-10 13:32] panacekcz opened #1975 "Index Checker does not recognize swapping index and offset"
In `@LTLengthOf`, the offset and the index can be swapped (`index+offset<length` is equivalent to `offset+index<length`). However, the Index Checker does not recognize this equivalence.

Example of code that is safe:
[code]

Current output:
[code]

In this example from Guava, `count` is known to be `@LTLengthOf(value="array", offset="values.length - 1")` because of a postcondition, but the method

[2018-05-10 13:44] panacekcz opened #1976 "Multiple pre-/postconditions with different arguments"
Contract annotations with arguments such as `@EnsuresLTLengthOf` do not allow to apply differently parameterized instances of the same annotation to different values. For example, this code (attempt to work around #1975) is not possible:
[code]

[2018-05-10 16:18] mernst commented on #215
The Eclipse plugin is no longer supported.
For running the Checker Framework from within Eclipse, see the manual:  https://checkerframework.org/manual/#eclipse

[2018-05-10 17:40] smillst commented on #1976
You can write multiple contracts in one `@EnsuresLTLengthOf`.  For example:
[code]

[2018-05-11 13:56] tonihei opened #1978 "checker-qual is not Android lint compatible"
When using the checker-qual library in Andorid libraries, the Android lint tool issues this error even though we just use the annotations:
[code]

This causes problems when shipping our library, as we either need to require every user to add a lint suppression for this, or we need to remove the dependency before shipping the code. See for example, [here](https://github.com/google/ExoPlayer/issues/

[2018-05-11 20:17] smillst commented on #1970
java.util.Comparator is an example of a class whose type parameter should be `@Contravariant`.

[2018-05-14 04:28] mernst commented on #1959
I'm closing this because we haven't received a reproducible test case.
If anyone can provide one, we will re-open the issue.

[2018-05-14 04:28] #1959 closed

[2018-05-14 06:04] ambition-consulting commented on #1959
Sorry, not much time left these days. Will try to reproduce the next time I can work on the OptionalChecker.

[2018-05-17 18:24] chengniansun opened #1981 "error: AsSuperVisitor: type is not an erased subtype of supertype."
[code]
$: cat Main.java
[code]
$:

[2018-05-17 20:17] chengniansun commented on #1981
This is a regression.

[2018-05-17 21:32] chengniansun opened #1983 "AnnotatedTypeMirror classes aren't equal."
$: ~/checker_framework/checker-framework-2.5.1/checker/bin/javac -processor org.checkerframework.checker.nullness.NullnessChecker  Main.java -cp ../lib/jsr305-1.3.9.jar
error: AnnotatedTypeMirror classes aren't equal.
  type1 = AnnotatedDeclaredType( String )
  type2 = AnnotatedWildcardType( ? extends Object )
  visitHistory = VisitHistory( {Pair(Converter<? extends Object>, Converter<? extends Ob

[2018-05-18 09:49] panacekcz opened #1984 "Invalid format string: array.access.unsafe.high.range"
The error message for array.access.unsafe.high.range is an invalid format string. Probably `%d` is not allowed.

Code example:
[code]
Output of the Index Checker:
[code]
Expected:
[code]

[2018-05-21 21:20] smillst commented on #1978
Thanks for reporting!  We are going to do this:

[2018-05-21 23:42] #1984 closed

[2018-05-22 03:39] wmdietl commented on #370
I think this issue can be closed: the reference test works, the annotated JDK is now built with the actual type systems enabled, and all annotations are stored in the bytecode.
A similar comment can be found in #924.
Is there anything left for the first task in https://github.com/typetools/checker-framework/issues/370#issuecomment-118319086 ?

[2018-05-22 04:02] mernst commented on #370
I agree.  Thanks for noticing this!

[2018-05-22 04:02] #370 closed

[2018-05-22 09:35] tonihei commented on #1978
Sounds good :) Thanks for looking into this.

[2018-05-22 15:23] #1981 closed, assigned to wmdietl

[2018-05-24 08:05] cushon opened #1991 "AsSuperVisitor: type is not an erased subtype of supertype 16"
This reproduces at head (82702ae4498f25afd21a351cd48b68f1fa7c6a4f).

[code]

[code]

[2018-05-24 08:15] cushon opened #1992 "AnnotatedTypeMirror classes aren't equal"
This reproduces at head (82702ae4498f25afd21a351cd48b68f1fa7c6a4f).

[code]

[code]

[2018-05-25 07:34] dilraj45 commented on #594
I was just wondering why checker framework treats `@Nullable T` and `T` differently. Framework implicitly defaults annotations to `@Nullable` as per the CLIMB-to-top inference rules for generics ([link](https://checkerframework.org/manual/#faq-semantics-section)). Why it treats `@Nullable T` as `T[ extends @Initialized @Nullable Object super @Initialized @Nullable Void]` as `T` as `T[ extends @Ini

[2018-05-25 20:19] #1978 closed

[2018-05-25 20:19] #1916 closed

[2018-05-25 21:28] mernst commented on #594
Defaulting never affects a use of a type variable, even if the type variable use has no explicit annotation.  Defaulting helps to choose a single type qualifier for a concrete Java class or interface.  By contrast, a type variable use represents a set of possible types.

[2018-05-26 14:56] dilraj45 commented on #594
Apologies, if I'm being silly. The above piece of code still throws the following error message (though with the complete error message). I think this error should not be thrown in the first place. Is it the expected behaviour, should it throw an error and why?

Thank you for your help!

[2018-05-26 15:05] wmdietl commented on #594
Why should there not be an error?
The return type of `getResult` is `T` and the code returns a `@Nullable T`.
As explained in the manual, these are two different types.
You can see in the error message that one has `@Nullable Void` as super bound, whereas the other has `@NonNull Void` as super bound.
Field `result` is allowed to contain `null`, but `ResultWrapper` can be instantiated with a `@NonN

[2018-05-26 18:32] dilraj45 commented on #594
I read through docs, but I was a bit uncertain about the defaulting rules. For as per the [defaulting rules](https://checkerframework.org/manual/#climb-to-top), which says the following

I was under the impression that same applies to the supper bound as well and is implicitly inferred as `@Nullable`.

Thanks for the clarification!

[2018-05-26 21:07] wmdietl commented on #594
Ah, the default lower bound is the bottom qualifier in the hierarchy, because of the same reason: we want to allow all possible instantiations.
Please open a fresh issue that we should document this in the manual.

[2018-05-28 02:14] wmdietl commented on #469
@pSub Thanks a lot for creating this test case!
It was quite tricky to track down what the root source of the problem was. We didn't update internal compiler state in all the right places, which led to this strange exception in a very particular combination.
I now create #1998 with a simple-looking fix, which doesn't just prevent this exception, but also makes sure the right annotations are return

[2018-05-28 05:47] justmin opened #1999 "Map.getOrDefault has wrong annotation"
[code]

Line //1 is compiled but //2 produce [argument.type.incompatible] error

Map.getOrDefault should allow Nullable first argument

[2018-05-28 21:13] wmdietl opened #2000 "Java collection methods that accept Object should consider type hierarchy"
The ErrorProne check [Incompatible type as argument to Object-accepting Java collections method](http://errorprone.info/bugpattern/CollectionIncompatibleType) ensures that methods like `Collection.contains` take an argument of the right type.

It would be useful to extend this check to be aware of the type hierarchy of a particular checker.
For example, from #1999:

[code]

`Map.get` is declared t

[2018-05-29 15:35] #469 closed

[2018-05-29 18:01] smillst commented on #1701
It is best practice if you are using more than one checker on the same code and/or if the warning key could apply to more than one checker.  (We are going to do a few things to make this clear in the July release.)

I'll change the tool to look at any `@SuppressWarnings` with a key that might have been issued by the checker.  (That is any key in its messages.properties file or any messages.propert

[2018-05-29 22:43] #1992 closed

[2018-05-30 16:04] mernst commented on #1976
Closed as duplicate of #1307

[2018-05-30 16:04] #1976 closed

[2018-05-30 18:16] mernst commented on #1999
The JDK annotations were written for JDK 7, when the Checker Framework supported Java 7.
When the Checker Framework dropped support for JDK 7, the annotated JDK was not updated to add all of the new methods that were added in JDK 8 (such as `getOrDefault` and 10 other methods in class `Map` alone).

[2018-05-30 20:31] #1922 closed

[2018-05-30 20:33] #1991 closed

[2018-06-01 15:45] #1701 closed

[2018-06-02 10:19] gsaga opened #2008 "Faulty implemetation of InternalForm annotation"
The current implementation of signature checker will recognize `java/lang/Object[]` as the internal form of the signature of an array of `Object`s when it should be `[Ljava/lang/Object;`.

The internal form signature *is* exactly equal to the output of Class.getName with '.'s replaced with '/'s. The  JVM specs say that the Internal Form of a signature of a type is equal to the **binary name** with

[2018-06-03 07:36] tmtron commented on #1916
Thanks: with version 2.5.2 all issues are gone: I've created a new branch [CheckerFw_2_5_2](https://github.com/tmtron/As31CheckerFw/tree/CheckerFw_2_5_2) and the build works.

[2018-06-03 13:29] matthiasq opened #2010 "JRE version pattern can't match 10.x"
https://github.com/typetools/checker-framework/blob/a5631b412dcacdf4e31bc4c4c605a597f22117e3/javacutil/src/main/java/org/checkerframework/javacutil/PluginUtil.java#L531

[2018-06-03 15:16] #2010 closed

[2018-06-03 15:16] mernst commented on #2010
Thanks for the bug report.

[2018-06-04 15:10] smillst commented on #1916
Great!  Thanks for letting us know!

[2018-06-04 20:57] sebright opened #2011 "Incorrect "dereference.of.nullable" when final variable is checked for null and then dereferenced in anonymous class"
I reproduced this issue in a small example with the live demo:

[code]

No. | Type | Description | Line | Column
-- | -- | -- | -- | --
1 | error | Error: [dereference.of.nullable] dereference of possibly-null reference arg | 8 | 9

Link to demo: http://eisop.uwaterloo.ca/live/#mode=display&code=import+org.checkerframework.checker.nullness.qual.Nullable%3B%0Apublic+class+MyClass+%7B%0A++%40Nullabl

[2018-06-04 21:36] wmdietl commented on #2011
This is a duplicate of #266.
For the currently-suggested work-around see https://github.com/typetools/checker-framework/issues/266#issuecomment-118318478

I've been looking at a fix for #266 lately, but it is unfortunately not yet ready.

[2018-06-04 21:36] #2011 closed

[2018-06-04 23:12] rgoldberg commented on #1224
What must be updated for Checker to support Java 9 and/or 10?

Will Checker then be able to work on multiple java versions (possibly via a multi-release jar), or just one?

[2018-06-05 06:23] diegovar opened #2013 "@EnsuresNonNullIf doesn't seem to work as expected when used in a superclass"
Here's a live example:

http://eisop.uwaterloo.ca/live#mode=display&code=import+org.checkerframework.checker.nullness.qual.Nullable%3B%0Aimport+org.checkerframework.checker.nullness.qual.EnsuresNonNullIf%3B%0Aimport+org.checkerframework.dataflow.qual.Pure%3B%0A%0Aabstract+class+Animal+%7B%0A++%40Pure%0A++%40EnsuresNonNullIf(expression%3D%22asDog()%22,+result%3Dtrue)%0A++boolean+isDog()+%7B%0A++++r

[2018-06-05 12:38] mernst commented on #2013
The answer is in the error message:

The superclass has an `@EnsuresNonNullf` annotation, so the subclass needs one too.
You didn't write one on the subclass, and the error message is telling you that you need to.

[2018-06-05 17:38] wmdietl commented on #2013
`@EnsuresNonNullIf` is annotated with `@InheritedAnnotation`: https://github.com/typetools/checker-framework/blob/master/checker/src/main/java/org/checkerframework/checker/nullness/qual/EnsuresNonNullIf.java#L80

I would not expect that the subclass would need to repeat the `@EnsuresNonNullIf`.
The second error about the implementation also only makes sense if the `@EnsuresNonNullIf` is inherited,

[2018-06-05 17:40] wmdietl commented on #2013
One possible cause is that the expression gets substituted incorrectly, using `super` instead of `this`.

[2018-06-05 18:28] wmdietl commented on #1224
We are currently working with a Google Summer of Code student to finish the Java 9 migration.
Our goal is to have a first completely usable version within a month and then finish the migration by the end of summer.

We do not want to maintain multiple versions of the Checker Framework compiler infrastructure.
Most likely by default we will use the Java 9 javac.
If the compiler API doesn't break be

[2018-06-05 18:45] smillst commented on #2013
For pre/post conditions, `this.methodCall()` and `super.methodCall()` should be equivalent.

[2018-06-06 10:14] ashishrana160796 commented on #1224
Interested in helping.

[2018-06-06 21:55] smillst commented on #2013
The contracts both parse to `this.asDog()`, but the MethodCall objects for `asDog` have different method elements, so the two FlowExpressions are not equal.

[2018-06-06 22:21] smillst commented on #2013
Here's another example of problems with contracts with overriden methods.
[code]

[2018-06-08 21:42] jyluo opened #2018 "util package should generate a jar when running gradle assemble or shadowJar"
This makes it easier for dependent projects, such as checker-framework-inference to import, define, and execute tests as subclasses of CheckerFrameworkPer***Test without having to have source level dependency on those classes (eg [checker-framework-inference/blob/master/build.gradle#L74](https://github.com/typetools/checker-framework-inference/blob/master/build.gradle#L74))

[2018-06-10 23:17] wmdietl commented on #2018
I think that jar file is what is also used by the testlib pom:
https://github.com/typetools/checker-framework/blob/master/maven-artifacts/poms/testlibPom.xml

[2018-06-11 03:09] patrickmeiring opened #2020 "AnnotationClassLoader throws StringIndexOutOfBoundsException when dealing with Windows paths in development environment"
**Issue**
When developing a Checker in Checker Framework on Windows, running tests for that checker (e.g. in a Unit test class derived from CheckerFrameworkPerDirectoryTests) results in the error:

`1 unexpected diagnostic was found:
-1: other: error: InvocationTargetException when invoking constructor for class org.mychecker.checker.MyCheckerVisitor; Underlying cause: java.lang.StringIndexOutOfBo

[2018-06-11 06:40] patrickmeiring commented on #2020
Ignore the first commit; this contained a code styling issue. The second commit contains the change with correct code styling. This is in pull request #2021.

My Travis CI build is failing on the "framework:downloadJtreg" step due to a connection timeout. On my local version, I have only one test failing (nullness/Issue1438.java) failing, but this is due to a timeout, and it was already failing pr

[2018-06-11 18:14] jyluo commented on #2020
Hi Patrick. Thanks for filing the issue and the fix. Are you using the linux subsystem for windows for development?

[2018-06-11 20:43] wmdietl commented on #2020
Fixed by https://github.com/typetools/checker-framework/commit/150e265828401d7a8a55de4285d5f7db08d99e11

[2018-06-11 20:43] #2020 closed

[2018-06-11 23:08] patrickmeiring commented on #2020
@jyluo @wmdietl Thanks for accepting this fix!

@jyluo I am unable to use the Linux subsystem for Windows as our University deploys the LTSC branch of Windows 10. (I would have to install a VM.) However, I was not planning to build or make changes to checker framework; rather, I was just planning to write my own checker against the checker framework. I believe this should work on Windows (?)

[2018-06-12 00:37] jyluo commented on #2020
Our development has traditionally been on Linux or Mac. The checker framework manual recommends using the Linux subsystem for Windows (with Ubuntu) for development. I myself run an Ubuntu VM on a Win 10 machine.

[2018-06-12 00:53] wmdietl commented on #2020
@patrickmeiring Just let us know if you run into any issues in using the Checker Framework on Windows and we can investigate.

[2018-06-12 09:06] lukaseder opened #2023 "Add an Automatic-Module-Name"
In order to maintain a dependency on the checker-framework, it would be great if you folks exported an `Automatic-Module-Name` for forwards compatibility, in case you ever do decide to modularise the checker framework. See:
http://branchandbound.net/blog/java/2017/12/automatic-module-name

This can be done without much effort or backwards compatibility concerns, even in a patch release.

[2018-06-12 09:24] lukaseder opened #2024 "Remove jdk.compiler packages from checker module."
When working with the JPMS and declaring a module as follows:

[code]

Then I'm getting errors as the following ones:

[code]

This makes sense of course. The `checker` API embeds quite a bit of the JDK's classes, which it is no longer allowed to do from JDK 9 onwards - at least not on the module path. Ideally, you should do any of the below:

- Remove those JDK classes entirely
- Ship them in a s

[2018-06-12 15:09] smillst commented on #2018
`assemble` creates a jar in `util/build/libs`.  Is that not sufficient?

[2018-06-12 18:07] mernst commented on #2023
We have modularized the Checker Framework distribution into jar files, according to what we believe that clients may need.

The module names should reflect this modularization.  That is, every jar file should get its own module name, to permit importing at that level of granularity.

We will use the same names as Maven artifacts.  However, module names cannot use hyphens, so checker-qual will beco

[2018-06-12 18:07] smillst commented on #2018
Now, the only sub-project with a `dist` folder is `checker` which is used in the release.  We now use the Gradle convention of sub-project/build/libs for jars.  We don't want to add back the `dist` folders.

[2018-06-12 18:23] jyluo commented on #2018
In `framework` if I run `shadowJar` then `framework.jar` is produced in `framework/dist`. However, running `shadowJar` in `util` does not produce a jar in `util/dist`.

I don't mind where the jar is, but could we change it so that the jar file names don't have a version number? or maybe generate symlinks when we build the jars?

[2018-06-12 18:59] smillst commented on #2018
You can use `testCompile fileTree(dir: "${checkerFrameworkPath}/util/build/libs", include: 'testlib-*.jar' )` in CFI.

`framework/dist/framework.jar` is a fat jar.  Do you want a testlib jar that's fat?

[2018-06-12 20:14] wmdietl commented on #2024
#1224 is working on full Java 9 support and our goal is to finish this work this summer.
In that process, we are separating out the java compiler into a separate dependency and will also have a separate `framework` artefact.

[2018-06-12 20:21] lukaseder commented on #2024
OK, very cool, thanks for the feedback!

[2018-06-12 20:53] lukaseder commented on #2023
Ok, cool, thank you very much, Mike! Note, just in case you decide to be able to publish these new maven modules prior to supporting Java 9, the `Automatic-Module-Name` would definitely help creating a dependency on the relevant modules already ahead of time...

[2018-06-13 02:20] wmdietl commented on #266
Fixed by https://github.com/typetools/checker-framework/commit/c74edd7884c7682f37ad49db401de84458023c66

[2018-06-13 02:20] #266 closed

[2018-06-13 03:56] jyluo commented on #2018
the fileTree works perfectly! A fat jar isn't needed.

I've filed https://github.com/typetools/checker-framework-inference/pull/82 with this change for CFI.

Closing this issue as theres no futher action needed.

[2018-06-13 03:56] #2018 closed

[2018-06-15 19:16] NhatDinh opened #2029 "Index: Upper Bound Checker should infer @LessThan("size") as same as @LTLenghtOf("array")"
Consider this:
[code]
Error message:
[code]
Upper bound checker should infer annotation  `@LessThan("#2")` as `@LTLengthOf("arr")`.

[2018-06-15 22:22] NhatDinh opened #2030 "Index Checker creates `@LessThan(doubleValue)`"
Consider:
[code]
Warning:
[code]

[2018-06-16 14:20] twistedsquare opened #2031 "Error when using recursive generics and intersection bound"
This is a slight variation of the previously fixed issue #1942   This time, the code has an extra ampersand bound (not sure of the exact name in Java) with a second recursive bound, and that seems to resurface the problem.  Tested in 2.5.2.  To reproduce, compile and run this code with the Nullness checker on:

[code]

The error is:

[code]

If you remove the `& B<EXPRESSION>` bound where it twice

[2018-06-18 15:24] smillst commented on #2031
Thanks for reporting; we'll take a look.  FYI, ` A<EXPRESSION> & B<EXPRESSION>` is called an intersection type in Java.

[2018-06-19 18:02] mernst commented on #2030
This is related to the Index Checker.

@NhatDinh In the future, it will be helpful if you can give a complete file (not just a snippet) and an exact command line.

[2018-06-21 07:55] peey opened #2046 "NPE while using CFGBuilder"
I'm trying to use checker-framework's [dataflow capabilities](https://checkerframework.org/manual/checker-framework-dataflow-manual.pdf).

What I want to do is to obtain the CFG for a given Java file. I found the method:

And here's a minimal example of how I'm trying to use it, which produces an error

**Source**
[code]

**Complete Contents of Output Pane**:

[code]

I've run the debugger to insp

[2018-06-21 07:57] justmin opened #2047 "java.util.List should be covariant"
[code]
[code]
It looks reasonable to make List be annotated with `@Covariant(0)`

[2018-06-21 12:39] mernst commented on #2047
As [explained in the manual](https://checkerframework.org/manual/#invariant-arrays), this would be unsound.  If you translate the [example for arrays](https://checkerframework.org/manual/#invariant-arrays) to lists, you will see the problem.

[2018-06-21 12:39] #2047 closed

[2018-06-21 14:54] wmdietl commented on #2046
It looks like you're getting the exception here:

[code]

So `classElem` is `null` and you get an NPE.

I think what is missing is the Attribution of the AST that you generated, and therefore Elements and Types might not be set.
For the Checker Framework we run the annotation processors after attribution, using:
https://github.com/typetools/checker-framework/blob/master/javacutil/src/main/java/org

[2018-06-21 22:35] lazaroclapp opened #2048 "CF vs javac inconsistency on generics erasure"
On some code involving generics (details below), the Checker Framework fails with the following error:

[code]

The shortest repro case for this error that I was able to come up with is available in full at https://github.com/lazaroclapp/cf_252_generics_erasure

To reproduce, simply clone the repo given above and do:

[code]

The repro itself consists of two separately compiled gradle targets:

`a

[2018-06-21 23:10] lazaroclapp opened #2049 "GUIEffect: Issue with transitive @UI inheritance"
We have observed some strange behavior for the GUIEffect checker when dealing with long (>2 classes deep) inheritance hierarchies.

Consider the following example code:

[code]

Unless I am mistaken, I would expect the `guieffect` checker on this code to compile without error (which is what happens if `UISubclass` is made to extend `@UI PolyUIBaseClass` directly, except for a `effects.redundant.ui

[2018-06-22 02:21] csgordon commented on #2049
Thanks for the report.  That is indeed incorrect.  I'll try to fix this sooner than later.

[2018-06-22 06:30] KankshaZ commented on #1614
Hi, I have attempted to tackle the above problem of replacing the Flow Expression Parser with calls to the JavaParser (it is a very crude and limited implementation - just wanted to make sure that my approach is correct). Please follow this link: [https://github.com/KankshaZ/ReplaceFlowExpressionParser]( https://github.com/KankshaZ/ReplaceFlowExpressionParser)

[2018-06-22 13:44] peey commented on #2046
So if I understand correctly, the problem here is that usually things which are building on top of checker-framework are run as annotation processors on files invoked by doing something like

``` javac -processor XYZ sourcefile.java```

And when that's done, the `ProcessingEnvironment` and `Context` is managed by Javac and provided to the annotation processors as arguments.

Now what I want to do

[2018-06-22 21:16] wmdietl commented on #2046
I don't understand your question.
If you already run your new annotation processor on the input files, what input files do you want to put into the Context/ProcessingEnvironment?
To get the right Context, couldn't your new annotation processor simply store that somewhere accessible?
Maybe com.sun.tools.javac.api.BasicJavacTask.getContext() is the method you want to call on your JavacTask?

[2018-06-22 23:07] twistedsquare opened #2052 "Problem with initialization checker and generic parent class"
I have an issue with the initialization checker and generic parent classes.  Given this parent class:

[code]

And this child class:

[code]

I get an error that the return of getField can be null, even though field is initialised by the Parent class, which is declared to be initialized at that point.  This seems like a false negative to me: an error on safe code.  (Tested on 2.5.2)

This seems to

[2018-06-23 10:28] peey commented on #2046
I didn't write my own code as an annotation processor. I was trying to run some existing annotation processor like say `SignaturePrinter` which inherits from `AbstractTypeProcessor`.

I hoped that doing this would avoid `classElm` from being null.

In any case, what I was trying to do didn't work out because I think I'll have to use checker's `javacutil` instead of javac, because that's what check

[2018-06-23 14:10] wmdietl commented on #2046
I don't see any mention of `javacutil` in 31.6.
`javacutil` is just utility methods on top of javac; it augments and doesn't replace javac.
Basic functionality like getting a compilation unit would still be performed by the normal javac API.

[2018-06-25 12:29] peey commented on #2046
I'm not sure if checker-framework intends for use of CFGBuilder outside of checker-framework / annotation processing

But I think it'd be pretty useful. I actually read this in the data flow manual:

![image](https://user-images.githubusercontent.com/4688870/41850175-3eaad16e-78a1-11e8-825c-fdfec2824941.png)

And thought it was indeed meant to for all of these to be usable independently.

If check

[2018-06-25 17:22] wmdietl commented on #2046
Great to hear you got it working.

The sub-projects build on each other, so there is no expectation that you could use e.g. `framework` without `dataflow`. But we want `dataflow` to be usable independently of `framework` or higher levels.

However, it is not a goal to make `dataflow` independent of annotation processing or the OpenJDK javac.

You definitely shouldn't need the `jdk8.jar` dependency

[2018-06-25 17:22] #2046 closed

[2018-06-26 22:09] kelloggm opened #2054 "No warnings for unsafe casts of non-primary annotations"
When a user writes an unsafe cast, usually the framework issues a `cast.unsafe` warning. However, when the unsafe cast is of a non-primary annotation, no warning is issued, which is unsound. I expect that the framework would issue such warnings.

Consider:

[code]

This file compiles with no warnings with the latest CF release. I expect the warnings I annotated the test case with.

By contrast, re

[2018-06-26 22:09] kelloggm commented on #2054
This isn't a critical issue for me, but it's an unsoundness in every checker in the framework that I noticed so I thought I would report it.

[2018-06-26 22:19] smillst commented on #2054
If you pass `-AcheckCastElementType` do you get the warnings?

[2018-06-27 08:09] KimiChiu commented on #1678
Did you resolve this problem?

[2018-06-27 21:18] wmdietl commented on #1678
The [last comment before yours](https://github.com/typetools/checker-framework/issues/1678#issuecomment-348027846) indicates that this is a Proguard configuration issue.
I'll close this issue now (we must have missed doing so back then).
Let us know if you run into the same issue and the suggested solution doesn't work.

[2018-06-27 21:18] #1678 closed

[2018-06-29 22:30] nicbec opened #2059 "Stubs missing imports produce unclear errors"
Checker Framework version 2.5.2

We wanted to add a stub to our codebase that would annotate java.lang.reflect.Constructor in keeping with the Checker-Framework stubs version and the related issue below
https://github.com/typetools/checker-framework/issues/1365
Checker Framework stubs:
https://github.com/typetools/checker-framework/blob/460863bf1612581de76a783b4ad254b816bfe8b7/checker/jdk/nullness

[2018-06-30 11:36] ghost opened #2060 "A bug in ImplicitsTreeAnnotator.visitLiteral"
The method `ImplicitsTreeAnnotator.visitLiteral` assignes annotations to String literals based on the `stringPatterns` field of type annotations. It does so by:

1. separating the annotations in qualifier hierarchy based on whether the given string literal matches the `stringPatterns` or not

2. and then finding the greatest lower bound of all the annotations that match the string literal.

This a

[2018-06-30 14:54] wmdietl commented on #2059
Can you try adding `-AstubWarnIfNotFound` as an option?

[code]

This should give you a warning about the unknown `@nonnull` annotation.

[2018-07-02 19:45] nicbec commented on #2059
Thanks for the response. I added "-AstubWarnIfNotFound" and see warnings for other locations in our code base, but nothing referencing @NonNull, Constructor, newInstance, or java.lang.reflect. There are no new warnings between the output when I comment out/uncomment the NonNull import though there is an unclear "error: [assignment.type.incompatible] incompatible types in assignment" when the impor

[2018-07-05 19:23] markwoon opened #2065 "OSGI support in MANIFEST.MF"
Please add OSGI bundle information to checker-qual's `MANIFEST.MF`.

It should be as simple as adding the osgi plugin in `build.gradle`.

[2018-07-07 14:40] mernst commented on #2065
It's not that simple; just making this change:
https://github.com/mernst/checker-framework/commit/1078ad38059376927d9de7377cbcca4e5bd475f2
leads to build failures; see https://travis-ci.org/mernst/checker-framework/builds/401226220 .
If you could submit a pull request, that would be great, since I am not familiar with OSGI.

[2018-07-09 19:29] #2052 closed

[2018-07-09 22:42] chengniansun opened #2067 "cannot build annotated_jdk due to missing sun.reflect.CallerSensitive"
In the latest release v2_5_3, the java/lang/Class was annotated with CallerSensitive. However, before this version, the annotation was not used. In our internal system, when we are trying to extract annotations from the stub class, we get the following error. Any advice is appreciated.

Thank you.

[code]

[2018-07-09 23:21] wmdietl commented on #2067
https://github.com/typetools/checker-framework/blob/master/checker/jdk/nullness/src/java/lang/Class.java
was converted from a stub file to full sources in https://github.com/typetools/checker-framework/commit/434228b6290fa96305029c5929ca4349c590ec08

The source now corresponds more closely to the Java 8 sources at http://hg.openjdk.java.net/jdk8/jdk8/jdk/file/687fd7c7986d/src/share/classes/java/la

[2018-07-09 23:53] chengniansun commented on #2067
Thank you for the advice. Liam fixed it.

[2018-07-09 23:53] #2067 closed

[2018-07-11 15:45] nicbec commented on #2059
Just wanted to check in on this to see if there's anything else I should try. Please let me know, thanks.

[2018-07-15 22:56] wmdietl commented on #2048
I have a fix in https://github.com/typetools/checker-framework/pull/2071
I could reproduce it with a much simpler single file, but also checked with your setup. Please let me know if this also fixes your original issue.

If the upper bound is an interface, the checks have to be relaxed, as any instantiation could additionally implement the interface.
If the upper bound is a class, we can directly

[2018-07-16 02:36] mernst commented on #2065
I'm closing this issue because the original poster has not responded.
We would still welcome a pull request that addresses the issue, if it is affecting anyone else.

[2018-07-16 02:36] #2065 closed

[2018-07-16 03:30] wmdietl commented on #2059
Pull request https://github.com/typetools/checker-framework/pull/2072 should fix this.
Now, when using `-AstubWarnIfNotFound` one also gets a warning about unknown annotations.
Please give it a spin and let us know whether this solves the issue.

[2018-07-18 10:02] elharo opened #2073 "Bad OSGI info for Guava in latest jar"
In the latest jar of org.checkerframework.annotatedlib:guava on Maven central, the OSGI info is mismatched. In particular, notice the difference between what's exported - 24.1.0 - and the Bundle-Version - 25.1.0.jre

Bundle-Version: 25.1.0.jre
Created-By: Apache Maven Bundle Plugin
Export-Package: com.google.common.annotations;version="24.1.0",com.googl
 e.common.base;version="24.1.0",com.google.c

[2018-07-18 16:39] nicbec commented on #2059
Was able to verify this fix on our build infrastructure. Thanks!

[2018-07-19 11:50] ashishrana160796 opened #2074 "Error produced, type checking for an extra long command in windows"
Command used in windows, `java -jar ".../dist/checker.jar" -cp lib/* -processor nullness MyFile.java` with effective command length producing error coming out to be 34,000+ characters like,
`C:\Program Files\Java\jre1.8.0_171\bin\java.exe -classpath C:\checker-framework-2.5.3\checker-framework-2.5.3\checker\dist\javac.jar -ea -ea:com.sun.tools... com.sun.tools.javac.Main -Xbootclasspath/p:C:\check

[2018-07-20 18:43] NhatDinh opened #2075 "Feature request: Issue a warning when @MinLen() is used on primitive types."
As discussed in the closed [Issue #1905](https://github.com/typetools/checker-framework/issues/1905), the annotation `MinLen()` of Index Checker should only be applied to sequence data structures( arrays, strings).
Consider:
[code]
To run this code:

[code]
Warnings issued:
[code]

[2018-07-21 09:08] SwingGuy1024 opened #2076 "Failure to recognize methods that throw exceptions"
In my project at work, I encountered this line, which throws an exception:

    BusinessException.builder()
            .detail(detailedMessage)
            .transitionFrom(ShippingState.RECEIVED)
            .withIdentifier(ProductSourceIdentifier.WAREHOUSE_ID, warehouseId)
            .buildAndThrow();

Should the Nullness Checker encounter this, it has no way of knowing that an exception is gua

[2018-07-22 12:58] mernst commented on #2076
Thanks for the suggestion.  This would not be too hard to implement.  The dataflow analysis would treat the annotated method in the same way that it currently treats a `throw` statement.

[2018-07-23 15:40] kelloggm commented on #2075
What if we add a special case to these errors that checks if the component type matches the required type and issues a warning suggesting that the annotations are switched?

Alternatively, we could just add logic to the visitor to prevent non-sensical types from being applied.

[2018-07-23 15:42] smillst commented on #2076
This is similar to #1497.

[2018-07-23 15:50] mernst commented on #2075
I think you should be able to use [`@RelevantTypes`](https://checkerframework.org/api/org/checkerframework/framework/qual/RelevantJavaTypes.html).
The Checker Framework should issue an error when an annotation is written on a type other than a relevant type.  If it does not, that is a bug.

This is undesirable.  It would be confusing for users if an annotation were silently ignored.

[2018-07-23 16:07] kelloggm commented on #2075
Perhaps I was unclear. By "prevent non-sensical types from being applied" I meant issue an error at the location that the annotation is written.

I do not think that `@RelevantTypes` will work without modification. `@RelevantTypes` applies to a type checker (and therefore all its qualifiers); we would like to enforce different restrictions on `@MinLen` than on the other qualifiers in the Value Che

[2018-07-24 18:46] mernst commented on #2075
You are right.

Here are two possibilities:

1. Create and enforce a `@TargetTypeKinds` annotation, which is analogous to
[`@TargetLocations`](https://checkerframework.org/api/org/checkerframework/framework/qual/TargetLocations.html).
BaseTypeVisitor can warn when a use is not consistent with its `@TargetTypeKinds` meta-annotation.
`@MinLen` would be declared as:
[code]

2. Permit `@RelevantJavaTy

[2018-07-26 15:45] kelloggm commented on #2029
Steps to solve this:
1. At array creation, record the expression in the initializer. Call that expression _e_. Also record the name of the new array _a_.
2. Look up every integer in the store that's in scope. For each integer _i_, check the LessThan type of that integer. If the LessThan type's argument is exactly _e_, then add a new upper bound type to _i_: `@LTLengthOf("a")`. Add this to the stor

[2018-07-26 15:47] kelloggm commented on #2029
This would be done in `UpperBoundTransfer#visitAssignment`, I think. Possibly `UpperBoundTransfer#visitArrayCreation`.

[2018-07-27 22:50] kelloggm opened #2081 "Subtyping checker does not support `@PolyAll`"
First, consider [section 24.2.3 of the manual ("The @PolyAll qualifier applies to every type system")](https://checkerframework.org/manual/#qualifier-polymorphism). The title of the subsection is pretty clear that `@PolyAll` should apply to _all_ type systems. The text in the section doesn't clarify the issue further - it just gives the justification for `@PolyAll`.

The Subtyping Checker is one o

[2018-07-29 01:36] mernst commented on #2073
Sorry for the bug (and for the long delay in responding -- I have been traveling).

I have corrected the problem by uploading a new artifact, 25.1.0.1, to Maven Central.  I believe it corrects the problem.

Thanks for the bug report!

[2018-07-29 01:36] #2073 closed

[2018-07-31 03:55] cushon opened #2082 "crash in AbstractAtmComboVisitor.defaultAction: Incomparable types"
[code]

[code]

[2018-07-31 15:26] bpappin commented on #1678
I'm having the same issue, there should be a ProGuard config for this library.

[2018-07-31 15:51] mernst commented on #1678
@bpappin Can you contribute that config?

[2018-07-31 18:30] mernst commented on #2074
Can you give a concrete, reproducible test case?  That will enable us to debug the problem and verify the fix.

[2018-07-31 19:56] #2082 closed

[2018-07-31 19:57] wmdietl commented on #2082
Thanks for the bug report! It was easy to fix and the fix will be included in the upcoming release.

[2018-07-31 20:46] ashishrana160796 commented on #2074
Context: I tried creating a generic command for a script which will be type-checking all JPOs of an application involving imports from 490 jars(_quite unreasonable, but generic command was required_). For comparison with other static analysis tools when scaled to large enterprise applications.

Steps Followed: checker.jar from latest version used in above command(_1_), lib folder containing 490(_a

[2018-08-01 15:10] mernst commented on #2074
I see.  Thanks in advance for doing this.

[2018-08-01 18:50] wmdietl opened #2087 "Custom Units Checker qualifiers need to be supertypes of @UnitsBottom"
Problem report: https://groups.google.com/d/msg/checker-framework-discuss/M0tPOCT9RGA/aRETL3X3CQAJ

`@UnitsBottom` is the implicit qualifier for null: `@ImplicitFor(typeNames = Void.class, literals = LiteralKind.NULL)`.

For the built-in qualifiers, assigning `null` works, e.g. `@m Float x = null;`

However, for a custom units annotation, the same is not true and an error is raised:

[code]

Note

[2018-08-02 15:11] cushon opened #2088 "crash: MultiGraphQualifierHierarchy found an unqualified type"
[code]

[code]

[2018-08-04 19:54] wmdietl opened #2090 "Units Checker: custom qualifiers cannot be nested classes"
Take this example (from https://groups.google.com/d/msg/checker-framework-discuss/M0tPOCT9RGA/1YrR_ndCDAAJ):

[code]

One gets:

[code]

Adding `-AunitsDirs=.` or `-cp .` has no effect.
If this is an inherent restrictions, we should document it clearly.

[2018-08-06 00:32] wmdietl commented on #1678
@bpappin An earlier [comment](https://github.com/typetools/checker-framework/issues/1678#issuecomment-348027846) pointed to simply using the Proguard config for Guava.
Is that approach not working for you?

[2018-08-06 01:43] mernst commented on #1999
Thanks for pointing out this problem.

Doing so is unsound.  In your example, suppose that a client called `new MapTest(myNullHostileMap)`, where `myNullHostileMap` does not permit nulls.  Then `getOrDefault` will throw a NullPointerException if passed null.  Forbidding null prevents this NullPointerException.  (Null is legal sometimes but not always; for soundness it is necessary to forbid calls

[2018-08-06 01:43] #1999 closed

[2018-08-06 03:47] mernst commented on #2060
Thanks for bringing this up.

1. There is something odd about your pasted output.  It starts
```error: Bug in @ImplicitFor(stringpatterns=...) in type hiermachiney definition```
but "type hiermachiney" should be "type hierarchy".  Did you make some edits rather than pasting verbatim?

2. Can you clarify "I'm unable to reproduce this bug."?
Does that mean that you saw it once but you never saw it a

[2018-08-06 16:03] gsaga commented on #2060
1. The typo was because of a script I have which `codifies` the clipboard content to be posted as markdown. It also replaces my username with `user` and my local machine name (i.e. `arch`) with `machine`. It needs to have `arch` surrounded with word boundaries in the regex.

2. The error appears seemingly randomly. It disappears on repeating the build steps and doesn't pop up if the offending part

[2018-08-06 16:26] mernst commented on #2060
Thanks for the explanations -- and for filing the bug in the first place.
Thanks in advance for fixing your type hierarchy.

[2018-08-06 18:06] mernst commented on #2008
Thanks for the details.  I'm asking the JVMS authors for clarification of the inconsistency between section 4.2 and section 4.3.

In the meanwhile, I will remark that Remi Forax's [message](http://narkive.com/SEQPgPWW:2.621.144) is a bit confusing.

He says
"I've always though that the section 4.1 was confusing",
but section 4.2 (not 4.1) defines internal form.

He also says,
"The section 5.1 is m

[2018-08-06 19:05] wmdietl commented on #1999
Related: #1326 and #2000.

[2018-08-06 19:11] #2088 closed

[2018-08-06 19:12] wmdietl commented on #2088
Thanks for the report!
Please let us know if the fix missed a case.

[2018-08-06 20:16] #2023 closed

[2018-08-06 23:27] mernst opened #2098 "Binary name and internal form have no representation for primitives or arrays"
The representation for `@BinaryName` and `@InternalForm` currently includes a representation for primitives and arrays.  However, Java's definition of "binary name" and "internal form" do not.  This makes `@BinaryName` and `@InternalForm` more permissive than necessary.

The definitions should be made more restrictive, to make them conform better to the Java definitions.

I have updated the manual

[2018-08-07 01:06] mernst commented on #2008
Internal form does not have a representation for arrays, because it is a variant of binary names.
Binary names do not have a representation for arrays, because binary names are used for class loading, and arrays and primitives are irrelevant to class loading.  I have opened #2098 to correct this.

You mentioned references in the JVM spec:
https://docs.oracle.com/javase/specs/jvms/se10/html/jvms-4.

[2018-08-07 01:06] #2008 closed

[2018-08-07 05:01] gsaga commented on #2098
The new specification made four of the annotations redundant:

1. BinaryNameForNonArray (same as BinaryName)

2. InternalFormForNonArray (same as InternalForm)

3. BinaryNameForNonArrayInUnnamedPackage (same as BinaryNameInUnnamedPackage)

4. SourceNameForNonInner ( this annotation(dot separated Identifiers followed by square bracket pairs) was supposedly linking FullyQualfiedName with BinaryName,

[2018-08-07 12:52] mernst commented on #2098
Your Google Drive link is not publicly viewable.

1. If two annotations have the same pattern, they should be combined.  In particular, if IdentifierOrArray is the same as ClassGetName, then you should remove IdentifierOrArray.

2. You should add annotations to make the lattice more precise as needed, if there is correct code that does not typecheck without it.

3. `Z` is a legal identifier, so it

[2018-08-07 14:56] ahubold opened #2099 "Checker Framework web site links to outdated Javadoc"
2.5.4 is the latest released version but https://checkerframework.org/api/ still shows API documentation for version 2.5.3

https://checkerframework.org/releases/2.5.4/api/ is empty.

[2018-08-07 15:04] mernst commented on #2099
Thanks for pointing this out.  We'll look into it.

[2018-08-07 15:59] gsaga commented on #2098
On Tue, Aug 7, 2018 at 6:22 PM Michael Ernst <notifications@github.com>
wrote:

I've attached it to this mail.

If two annotations have the same pattern, they should be combined. In
particular, if IdentifierOrArray is the same as ClassGetName, then you
should remove IdentifierOrArray.

Later I saw that they have one difference. ClassGetName can be an empty
string but IdentifierOrArray can't, and s

[2018-08-07 17:32] gsaga commented on #2098
I've created a pull request #2100 which addresses this issue. It's ready for review.

[2018-08-07 18:17] mernst commented on #2098
Not quite ready, since the Travis build is failing.  Please fix that before asking for review.  Thanks!

[2018-08-08 16:55] smillst commented on #2099
I manually fixed the Javadoc in  https://checkerframework.org/api/ and https://checkerframework.org/releases/2.5.4/api/.  PR #2096 fixes the cause of this problem, so this won't happen next time we release. Thanks for reporting!

[2018-08-08 16:55] #2099 closed

[2018-08-08 17:40] kelloggm opened #2102 ""Every Java file is a valid stub file" is not *technically* true"
Repeatedly when discussing stub files, the manual say "Every Java file is a valid stub file" (29.5.2 and 29.5.3, first paragraphs). This isn't *technically* true, though, which can cause confusion. In particular, the Checker Framework will never read a file ending in `.java` as if it were a stub file - the user needs to change the extension on the file to `.astub` to make it a valid stub file. Oth

[2018-08-08 18:25] mernst commented on #2102
Thanks for pointing out this confusing text!
My feeling is that `.java` will be confusing for tools and people, so I am inclined to stick with `.astub` for now, unless there is a strong case to be made.
I will update the documentation.

[2018-08-08 18:26] #2102 closed

[2018-08-08 21:34] NhatDinh commented on #2029
Closed this issue since unit and integration tests in [PR #2103](https://github.com/typetools/checker-framework/pull/2103)

[2018-08-08 21:34] #2029 closed

[2018-08-09 17:34] smillst opened #2107 "TreeUtils#isThisCall returns true when it should return false"
[code]

[2018-08-10 19:38] NhatDinh commented on #2030
While annotating` DoubleMath#roundIntermediate()`, this issue came up.
Please consider this simplified version of the code:
[code]
Command line to run this code:
[code]
Expected errors:
[code]

[2018-08-10 19:50] NhatDinh commented on #2030
@smillst Please take another look.

[2018-08-13 02:47] mernst commented on #2030
@NhatDinh Why is the output that you provided expected?

I get the following output:
[code]

If this is a problem with expression parsing, we might want to wait until https://github.com/typetools/checker-framework/pull/2062 is merged.

[2018-08-21 16:43] NhatDinh commented on #2030
@mernst Sorry for the confusion. The expected output means what I've produced in my error log.

[2018-08-21 18:20] mernst commented on #2074
I'm closing this because we didn't receive a reproducible test case.
If someone can provide a reproducible test case, we can re-open the issue.

[2018-08-21 18:20] #2074 closed

[2018-08-21 22:39] mernst commented on #2030
The root cause is that the Index Checker is creating an annotation `@LessThan("0.0")`.
Floating-point values are not legal for `@LessThan`.  Fixing this will eliminate the error.

The proximate cause is that the flow expression parser cannot parse double values.  There is no need to fix that yet.

[2018-08-22 20:23] mernst opened #2135 "Create checker-qual-android artifact"
This is a feature request to provide an artifact `checker-qual-android` that is just like `checker-qual` except the annotations have class retention.

Types annotated with runtime annotations are always kept in the main dex by the default Android Gradle plugin. Using the standard Checker Framework annotations can lead to main dex overflows; users of the Checker framework may find themselves unable

[2018-08-25 01:03] #2107 closed

[2018-08-29 18:39] kelloggm opened #2147 "Annotations on enum constants in stub files are silently ignored"
All typecheckers silently ignore annotations written on stub files containing enums. For example, consider the following enum, defined in `SampleEnum.java`:

[code]

Suppose that this code was available only as bytecode, but must be annotated. So, we write a stub file `SampleEnum.astub`:

[code]

When this stub file is supplied to the compiler via `-Astubs=SampleEnum.astub`, I expect to see only o

[2018-08-31 18:36] mernst commented on #2147
There is currently a pull request (https://github.com/javaparser/javaparser/pull/1812) open to fix https://github.com/javaparser/javaparser/issues/1806.  I propose that we wait for it to be merged, then pull upstream into stubparser.  If that doesn't resolve the issue, then we should investigate further.

[2018-08-31 18:43] wmdietl commented on #2147
We do not use the symbol resolution part from JavaParser, so that pull request won't help.

We need to look at what https://github.com/typetools/checker-framework/blob/master/framework/src/main/java/org/checkerframework/framework/stub/StubParser.java does with enum constant annotations and whether the type factories actually ask for the enum constant annotations from the stub parser.

[2018-09-04 20:32] astiob opened #2151 "Can’t call StreamSupport.stream with wildcard-extends since 2.5.2"
Since version 2.5.2, this code fails to compile:

[code]

Here are the error messages with `-AprintAllQualifiers`:

[code]

Looking at the list of bugs closed in 2.5.2 (by the way, it would be nice to only list bugs that were actually fixed and omit those closed as duplicates and especially those closed because of lack of reduced test case), it seems like this might be caused by #370 or #1922.

I

[2018-09-06 07:31] ahubold commented on #1224
Any news on this one?

[2018-09-06 13:28] wmdietl commented on #1224
@Ravi-Roshan @jyluo and I have been working on this at https://github.com/eisop/checker-framework/
The hopefully last issue is being discussed here https://groups.google.com/d/msg/checker-framework-gsoc/4MKpkMmwPcY/GNfyQrAeAQAJ
Jeff and I will meet later today and hope to come up with a fix.
Our goal is to then integrate with typetools and get this out as part of the October release. Fingers cross

[2018-09-06 16:27] mernst commented on #2147
There is a processEnum method.

[2018-09-06 16:33] smillst commented on #2135
Reopening this issue until I add this new artifact to the release process.

[2018-09-06 23:32] mernst opened #2156 "Non-default annotations on enum constants"
The Checker Framework forbids `@Untainted` on an enum constant.
Perhaps it forbids all non-default qualifiers on enum constants.

To reproduce, consider the following code:

[code]

Running ```javac -processor tainting -g Issue2156.java``` yields this undesirable error:

[code]

This test case is committed as `checker/tests/tainting/Issue2156.java`.

[2018-09-07 09:28] bmhm opened #2157 "Convert JDK Annotations to Eclipse format, to enable use of Eclipse IDE notifications"
Hello,

I just found out that eclispe photon does now provide a way to add annotations to existing libraries. This is also true for JDK libraries.

If you go to Eclipse -> Preferences -> Installed JDKs -> Edit
then open a tree from let's say  `rt.jar`, there is now an option to attach an annotation file.

I found two resources:
https://wiki.eclipse.org/JDT_Core/Null_Analysis/External_Annotations (

[2018-09-07 14:49] mernst commented on #2157
Can you clarify your question?
Do you want to convert Eclipse annotations into the Annotation File Format?
Do you want to convert `.jaif` annotation files into Eclipse's format?
Do you want to extend the Checker Framework to support a new new annotationpath attribute and read Eclipse's file format?
Or maybe something else?

As background, Eclipse defined its own file format
(https://wiki.eclipse.o

[2018-09-07 17:07] b0ri5 opened #2158 "Don't allow Optional.fromNullable on something that's not @Nullable"
Could the checker framework find cases like

String s = "something";
Optional.fromNullable(s).orElse("something-else");

and then notice that s is not nullable and so Optional.fromNullable(s).orElse("something-else") could be replaced with "something-else"?

A similar request would be to let users know if they use Guava's Preconditions.checkNotNull on a non-nullable value.

[2018-09-07 17:58] bmhm commented on #2157
Hey, thanks for your quick answer and sorry for not clarifying enough.

I'd like to attach an eclipse file in their own format, containing the checker.qual.Nullable annotations. This way I could see null problems in eclipse.

The idea is that the plugin is marked deprecated by your documentation, and I am looking for another way to see null problems in the code.

This would also mean that checker

[2018-09-07 18:02] wmdietl commented on #2158
The Nullness Checker has special `-Alint=redundantNullComparison` option to ensure that a non-null variable isn't compared against null.
Something similar should be doable for `fromNullable`.

In your example, wouldn't the result always be `something`, because `s` is non-null?

Regarding Guava, note that `Preconditions.checkNotNull` https://github.com/typetools/guava/blob/master/guava/src/com/goog

[2018-09-07 20:35] mernst commented on #2158
To make `-Alint=redundantNullComparison` issue a warning when `fromNullable`'s argument has type `@NonNull` would probably require a new annotation that can be placed on the formal parameter (type?) of `fromNullable`.  The new annotation would indicate that this formal parameter is unlike most:  for most formal parameters annotated as `@Nullable`, it's OK to use a `@NonNull` argument.  This seems

[2018-09-07 20:49] mernst commented on #2157
Thanks for the clarification.  That is very helpful context.
Your goal is to get immediate IDE warnings in Eclipse as you type.  Currently, you need to run your build to see the Checker Framework's warnings.

Note that the Eclipse nullness analysis is significantly different than the Nullness Checker of the Checker Framework.  Eclipse issues more false positives, and Eclipse suffers false negative

[2018-09-09 02:38] b0ri5 commented on #2158
@wmdietl Thanks for the pointer to -Alint=redundantNullComparison - I don't think it's enabled for us and will look into it. Yes, it should be "something" sorry for the confusion. It also looks like our Guava library doesn't yet use the commit that adds @NonNull to checkNotNull. I'll follow up on that too (but not too soon).

@mernst No the problem is not serious, but code like this can definitely

[2018-09-09 15:17] mernst commented on #2158
Thanks for the followup.  I'll close this for now.  If you or someone else wishes to contribute the feature, we would welcome a patch.

[2018-09-09 15:17] #2158 closed

[2018-09-09 19:35] bmhm commented on #2157
Hello @mernst I can really see what makes it difficult.

Perhaps it might be an idea to create a new plugin. The new plugin could (or even should) disable the integrated checks in eclipse for configureg projects and get the errors from gradle and/or maven. Might be the best solution. I don't think we need a `@<sth>NonNullByDefault` annotation, which eclipse wants. `null` should be treated as speci

[2018-09-09 19:46] t-rasmud opened #2159 "Locally created Polymorphic Object incorrectly resolves to default type qualifier."
When a new polymorphic object is created locally inside a method, the checker framework incorrectly annotates it with the default type in the qualifier hierarchy. Consider the following example which exposes this problem with the tainting checker.

[code]
We expect the above code to type check without any errors. But, running the tainting checker on this example (`javac -processor tainting TestLoc

[2018-09-09 21:41] mernst commented on #2157
Thanks.  I'll close this issue for now.  If someone who is familiar with Eclipse plugin development could create a plugin, we would appreciate it.

[2018-09-09 21:41] #2157 closed

[2018-09-11 17:56] mernst commented on #2159
@t-rasmud Section 2.4.5 of the manual says that these should be the same:
[code]
Can you check whether that produces the same problem?  That will help with debugging.

[2018-09-11 19:50] mernst commented on #2159
Thanks.  The latter behavior looks fine.  There is a warning for the cast, but none for the assignment.
The behavior should be the same for the two syntaxes (unless the manual is modified to say that `new @Q MyClass` suppresses warnings).

[2018-09-13 18:58] mernst opened #2163 "Qualified type of constructor invocations"
The qualified type of the constructor invocation `new MyClass(22)` depends on three annotations:

[code]

These three annotations must have the following relationship:
[code]
If any of these relationships is violated, that is an error.

The qualified type of the constructor invocation is `@C`.  (That is also equal to the greatest lower bound of `@A`, `@B`, and `@C`.)

If `@C` is omitted, then the

[2018-09-14 00:03] b0ri5 commented on #2158
Okay thanks.

[2018-09-14 03:33] mikeb01 opened #2164 "Intermittent Crashes of the Checker Framework."
We run the checker framework from with the Buck build tool, which runs across a large number of modules in parallel.  Occasionally we see the stack trace below and the build fails.  Unfortunately I wasn't able to capture the full command line when it failed as it didn't fail the next time I ran it.

I can't reliably reproduce the issue with a specific configuration.

$ opt/jdk/bin/java -version
ja

[2018-09-14 15:27] wmdietl commented on #2164
The root cause seems to be: `Underlying Exception: java.lang.IllegalStateException: zip file closed; Stack trace: java.util.zip.ZipFile.ensureOpen(ZipFile.java:686)`
Are you running into this problem only with the Units Checker or also with others?

@jyluo Can you look at AnnotationClassLoader.java and review when it closes resources? In that whole file I don't see a call to `close()`, e.g. on `ja

[2018-09-14 21:37] mikeb01 commented on #2164
The Units checker is the only one that we use.

[2018-09-15 01:18] jyluo commented on #2164
@mikeb01 I'm setting up Buck on my ubuntu to attempt to reproduce the issue. Would you mind sending us a minimal project which we can use to debug the issue?

Please also check to see if this stack trace is produced by running the other type systems, for example the RegexChecker.

[2018-09-17 18:16] smillst commented on #2163
You mean GLB?

This paragraph should be clarified:

If `@C` is omitted, then the type of `new MyClass(...)` is `@B MyClass`.
If `@C` and `@B` are omitted, then the type of `new MyClass(...)` is `@A MyClass`, just like any other use of `MyClass` without an explicit annotation.
If `@B` is omitted, then the resulting type of the constructor ` MyClass(int arg) { ... }` and the type  of `this` inside t

[2018-09-17 18:54] smillst opened #2166 "Document why AnnotationMirror#equals and AnnotationMirror#hashcode can't be used."
AnnotationMirror is an interface that is implement both by javac and the Checker Framework.   Using `equals` with one object created by the Checker Framework and one by javac will always return false even if they are the same.  Therefore, never use any method that compares AnnotationMirrors using `equals`.   AnnotationUtils has various methods that should be used instead.  Also, `org.checkerframew

[2018-09-17 18:57] mernst commented on #2166
Should we create a checker that issues a warning if AnnotationMirror.equals or AnnotationMirror.hashCode is called?

[2018-09-20 17:53] smillst commented on #2159
Blocked on #2163.

[2018-09-20 17:55] mernst commented on #2156
This also indicates that the Checker Framework's error messages in the case of an enum constant are confusing; there is no obvious assignment at `@Untainted FIRST,`.

[2018-09-20 18:16] smillst commented on #1224
Document of remaining tasks:
https://docs.google.com/document/d/1mcOJUrYzHDMp2MfPztOmOaaSFjOWZquUN1fO_LCmXuo/edit?usp=sharing

[2018-09-21 02:00] mikeb01 commented on #2164
I've just tested with the Regex checker.  It fails with similar stack trace but a different error:
[code]

[2018-09-21 02:39] mikeb01 commented on #2164
Sample BUCK project with annotation processing set up (undocumented feature of BUCK).
[sample_buck.zip](https://github.com/typetools/checker-framework/files/2403723/sample_buck.zip)

[2018-09-21 05:05] mernst commented on #2164
Thanks for the BUCK project.
To clarify, is this just showing how to do annotation processing in BUCK, or is this a project that fails nondeterministically like the original bug report?

[2018-09-21 06:30] mikeb01 commented on #2164
Mostly the first, however we run it in a very similar manner, with the addition of a 'units=....' containing a list of our defined unit classes.

[2018-09-21 06:38] mikeb01 commented on #2164
As an additional note we have around 600 buck modules holding somewhere around 1M lines of code.  It only seems to fail we we do a build of the whole project without cached artefacts.  So the incidence is fairly rare.

[2018-09-21 13:29] mernst commented on #2164
To clarify "Mostly the first", have you ever seen your sample Buck project fail?
(It will be useful nonetheless, but most useful if we can reproduce the problem.)
Thanks again.

[2018-09-21 17:02] mikeb01 commented on #2164
I haven't seen the sample one fail.

[2018-09-24 21:40] jyluo commented on #2164
It looks like the problem is that the threads created by Buck share a low level URL connection to the Jar file. One thread that finishes earlier can close the connection, hence the stack trace.

I am able to reproduce the `IllegalStateException: zip file closed` error independently in a small program which runs 100 threads in a thread pool (mirroring Buck's invocation of CF). Each thread opens a `

[2018-09-24 22:14] mikeb01 commented on #2164
Cheers, I'll have a look this Friday.

[2018-09-25 21:39] #2164 closed

[2018-09-25 21:41] wmdietl commented on #2164
I've merged PR #2168 into typetools/master, so you can directly follow the "build from source" instructions.
Please do let us know whether this also fixed the issue in your deployment.

[2018-09-26 18:05] t-rasmud opened #2171 "Polymorphic varargs methods fail"
When a variable argument formal parameter is annotated with the polymorphic type, it should be possible to pass arguments annotated with any type in the type hierarchy in any order. It looks like the checker framework incorrectly resolves the polymorphic type to the type of the first argument in the variable argument list, instead of taking their least upper bound.
Consider the following example t

[2018-09-26 22:34] t-rasmud opened #2172 "Incorrect default for inner looping variable in a foreach loop."
Normally, local variables (including loop index variables) default to the top type in the qualifier hierarchy and then get type refined to the type of the value they are assigned. The checker framework reveals an unusual behavior where the type of a loop variable doesn't get type refined correctly in the case of **nested foreach loops**.
Consider the following example to be checked with the nullne

[2018-09-27 18:12] smillst commented on #2166
We decide to just copy the text in the first comment into the manual.

[2018-09-27 18:14] mernst commented on #2171
Here is an expanded test case

[code]

Here is the output:

[code]

[2018-09-27 21:59] wmdietl opened #2173 "ElementAnnotationUtil.getLocationTypeADT: invalid location [WILDCARD] for type: String;"
Bug report copied from message by William Shackleford https://groups.google.com/d/msg/checker-framework-dev/jrllYpfH1GQ/nTmnDJ1vAQAJ

I have a maven project that I have integrated checker-framework into that
has started failing with the message:

[code]

(The same message is repeated 10 times.)

Unfortunately I don't see where in my code the issue is and the project is too large to paste/attach to

[2018-09-28 02:09] mikeb01 commented on #2164
Just tested and it looks good.  Any idea when this will make it into a release version?

[2018-09-28 02:43] wmdietl commented on #2164
Great to hear!
The next release will be on Oct 1st. We're releasing at the beginning of every month.

[2018-09-28 06:01] patrickmeiring opened #2174 "Spurious 'bound.type.incompatible' errors when using Method Type Parameters with recursion"
This issue was originally found in the process of developing our own type system. I have designed a minimal test case that replicates the issue against one of checker framework's built-in checkers.

`import org.checkerframework.checker.tainting.qual.*;
interface AComparable<T extends @Untainted Object> {
	int compareTo(T other);
}`

`import org.checkerframework.checker.tainting.qual.*;
class AComp

[2018-10-01 19:54] wmdietl commented on #2171
This was introduced by https://github.com/typetools/checker-framework/commit/41fe25f9dafb9d924bee2ecfe22ecc8ac056bfdc
@smillst Should we roll back that commit or wait with the release until this bug is fixed?

[2018-10-01 21:00] smillst commented on #2171
I opened a pull request to fix it.  https://github.com/typetools/checker-framework/pull/2176

[2018-10-03 00:14] #2171 closed

[2018-10-04 07:18] justmin opened #2178 "Wrong assumptions on unchecked code"
[code]
This code is compiled using CF but unexpectedly could produce `@Nullable` result
Suggesion: treat all return values in unprocessed code as `@Nullable`

[2018-10-04 15:44] wmdietl commented on #2178
There is a discussion of this issue at https://checkerframework.org/manual/#defaults-classfile
Passing `-AuseDefaultsForUncheckedCode=bytecode` will give you conservative defaults.
This probably will reveal missing annotations for third-party libraries, for which you will need to write stub files.
Please let us know if you run into any unexpected behavior with this option.

[2018-10-05 07:08] hos-p opened #2180 "Missing copyright info in license"
[Licence](https://github.com/typetools/checker-framework/blob/master/LICENSE.txt) does not conform to MIT License. There is no copyright in it. Could you please fix it?

Copyright <YEAR> <COPYRIGHT HOLDER>

[2018-10-05 16:12] wmdietl commented on #2180
I'm not sure what you mean. The MIT License is at the bottom of the file:
https://github.com/typetools/checker-framework/blob/master/LICENSE.txt#L389

[2018-10-05 16:14] mernst commented on #2180
The point is that file LICENSE.txt does not state the name of the copyright holders nor the date of the copyright.

[2018-10-05 16:18] #2180 closed

[2018-10-08 17:42] t-rasmud opened #2181 "NullPointerException in call to getNodesForTree()"
When I override the method `visitArrayAccess` in NullnessAnnotatedTypeFactory.java and call the method `getNodesForTree ()` (https://github.com/t-rasmud/checker-framework/blob/914ffda70b059e2899496a1fb199bfc214834bd2/checker/src/main/java/org/checkerframework/checker/nullness/NullnessAnnotatedTypeFactory.java#L490) , it results in a NullPointerException.

I used the following test case:
[code]
On

[2018-10-10 00:36] patrickmeiring opened #2183 "Constructor annotations not used if diamond operator used to infer constructor type arguments"
**Background.** When one constructs a generic type, one can let the Java compiler automatically infer the type parameters from the context by using the 'Diamond Operator' (<>).

**Issue.** When one uses the diamond operator in checker, the qualifiers on the type parameters are correctly inferred, but any annotations on the type itself are lost. Specifically:
[code]
works as expected (generates no

[2018-10-10 00:49] t-rasmud commented on #2163
@mernst I have added test cases for this issue [here](https://github.com/t-rasmud/checker-framework/blob/issue32/checker/tests/determinism/Issue2163.java).

[2018-10-11 18:44] mernst commented on #2178
I'm closing this issue because we haven't heard about any problems.  Please re-open if necessary.

[2018-10-11 18:44] #2178 closed

[2018-10-15 21:56] rubenlop88 opened #2185 "Running under Java 11 leads to crash; should issue message that Java 8 is required"
Trying to compile a project with the latest JDK 11 produces the following error:

[code]
It should show the correct error message. See https://github.com/typetools/checker-framework/blob/master/framework/src/main/java/org/checkerframework/framework/source/SourceChecker.java#L451

[2018-10-15 22:03] rubenlop88 commented on #2185
Rubens-MacBook-Pro:~ rlopez$ java -version
openjdk version "11" 2018-09-25
OpenJDK Runtime Environment 18.9 (build 11+28)
OpenJDK 64-Bit Server VM 18.9 (build 11+28, mixed mode)

[2018-10-17 04:34] t-rasmud opened #2186 "Constructor annotated with any type other than the default qualifier not allowed"
Annotating a class with a non-default type qualifier results in an unexpected error on its constructor.
Example:
[code]
The above code should type check without errors and the type of the constructor should be `@PropertyKey`. But, running the command: `javac -processor propertykey ConstructorIssue.java ` gives the following error:

[code]

[2018-10-17 16:26] t-rasmud opened #2187 "Creating an object of a type which is a supertype of the constructor type should not be allowed."
Consider the example below:

[code]

Since the constructor is annotated as `@PropertyKey`, it should not be allowed to create objects of type `@UnknownPropertyKey`. So the constructor invocation line should report an error. But executing the command `javac -processor propertykey ConstructorIssue1.java` reports no error for this example.

[2018-10-29 06:25] cushon opened #2188 "crash handling regression in 2.5.6"
I'm seeing the following crash when upgrading from version 2.5.5 to 2.5.6:

[code]

The message doesn't include a track trace. Could that be related to af4f59416bc06a5b043d5aedf4ed13f59ee59bca?

Also, the source position of the code that triggered the crash isn't being reported (see #1866).

[2018-10-29 17:57] wmdietl commented on #2188
https://github.com/typetools/checker-framework/commit/af4f59416bc06a5b043d5aedf4ed13f59ee59bca switched the default to always show the stack trace. The new option `AnoPrintErrorStack` can be used to turn off stack traces.
That explains the warning, but not why you don't get a stack trace.
Maybe the removal of `ErrorReporter` in August https://github.com/typetools/checker-framework/commit/aceb62b07

[2018-10-29 18:06] cushon commented on #2188
The error message was anonymized real code. I don't have a minimal repro yet. It would be easier to produce one if #1866 worked, so I was hoping the cause of the crash handling regression (if not the cause of the crash) might be obvious.

[2018-10-29 21:10] wmdietl commented on #2188
https://github.com/typetools/checker-framework/pull/2189 should fix the error reporting part.
Could you have a look?

[2018-10-30 03:05] cushon opened #2190 "AsSuperVisitor: type is not an erased subtype of supertype 17"
[code]

[code]

[2018-10-30 03:06] cushon commented on #2188
Looks good, thanks. I used that to minimize one of the crashes I found: https://github.com/typetools/checker-framework/issues/2190.

There were two others, but I'm hoping they might share a root cause.

[2018-10-30 17:15] #2188 closed

[2018-10-31 21:58] cushon opened #2195 "AsSuperVisitor: type is not an erased subtype of supertype 18"
[code]

[code]

[2018-10-31 22:16] cushon opened #2196 "AsSuperVisitor: type is not an erased subtype of supertype 19"
[code]

[code]

[2018-11-01 19:39] #2183 closed

[2018-11-01 22:39] cushon opened #2198 "AsSuperVisitor: type is not an erased subtype of supertype 20"
This is similar to but distinct from #2195:

[code]

[code]

Repro:

[code]

[2018-11-01 23:50] kelloggm opened #2199 "Type argument inference causes crash in AsSuperVisitor"
Consider the following Java program:

[code]

`javac` compiles this program, but running any Checker Framework checker results in a crash on the call to `new Concrete<>()`(tested: Nullness Checker, Value Checker). Making the type arguments explicit (i.e. replacing `new Concrete<>()` with `new Concrete<String, byte[]>()`) eliminates the crash and permits the program to compile.

This might be a dup

[2018-11-02 01:14] wmdietl commented on #2199
Thanks for the report! It turns out this wasn't a duplicate of the other issues.
I've incorporated a fix in #2193
A test case with expected type errors would be good, but #2193 should fix the crashes.
Can you confirm whether it fixes your original issues?

[2018-11-02 03:49] #2190 closed

[2018-11-02 04:19] #1014 closed

[2018-11-02 12:28] wmdietl commented on #2196
Closed via #2193.

[2018-11-02 12:28] #2196 closed

[2018-11-02 12:28] wmdietl commented on #2195
Closed via #2193.

[2018-11-02 12:28] #2195 closed

[2018-11-02 15:20] bmhm commented on #2151
@astiob would you mind sharing your stub?

[2018-11-02 15:28] astiob commented on #2151
I don’t have a stub at the moment. If I recall correctly, I tried creating one that just copied the official signature for the `stream` method in hopes that the Checker Framework would infer the bounds differently from the stub source than it does from the class binary, but it didn’t help. I ended up changing my own method signature to take `Iterable<T>` rather than `Iterable<? extends T>`.

[2018-11-02 15:34] bmhm commented on #2151
I'm implementing the CacheLoader interface, which has:

`Map<K, V> loadAll(Iterable<? extends K> keys) throws CacheLoaderException;`

My Key is somtimes String, sometimes a immutable generated class.

I get this error:

[code]

[2018-11-02 19:18] kelloggm commented on #2199
#2193 does fix it, thanks :)

[2018-11-02 19:18] #2199 closed

[2018-11-03 02:14] wmdietl commented on #2151
I think my earlier comment https://github.com/typetools/checker-framework/issues/2151#issuecomment-418521410 was misleading and we realized that in the next meeting.
It might be enough to add a `StreamSupport` class to the annotated JDK. Then when generating the annotated JDK the correct defaults for KeyFor should be applied.

@astiob Did you try that route?

@bmhm Could you file a separate issue

[2018-11-03 12:45] astiob commented on #2151
I have not tried modifying the annotated JDK, only adding a stub file. I fear that it might be hard to rebuild it, but that’s because I don’t know anything about it. Is it actually hard?

What does the `super null` actually mean?

[2018-11-03 18:12] wmdietl commented on #2151
In #2200 I added a `StreamSupport` class for nullness, which picks up the special defaults we use in the java packages.
I tried with your example and no longer get the nullness errors.
@astiob  Can you try whether this fixed your original issue?

`super null` is the lower bound for a type variable or wildcard, null being the bottom of the type hierarchy.

[2018-11-03 18:14] wmdietl commented on #2151
Also, https://checkerframework.org/manual/#map-key-defaults-lowerbound discusses the issues with Key For lower bounds defaults.
Please let us know if there is something we should improve in that section.
Thanks for the bug report!

[2018-11-05 13:37] bmhm commented on #2173
Expieriencing the same on one of my private repos. The last class to be printed by the `javac` executable using verbose compilation is an immutable generated class, if that helps.

[2018-11-05 13:58] mernst commented on #1606
Commit 3290705a41587c7e9974f6b04131d281c7130cc9 makes the Map Key Checker use this feature

[2018-11-06 19:23] rahul404 commented on #1497
Hi,
Is this issue still open?

[2018-11-06 19:33] mernst commented on #1497
Yes, it is still open.  However, #2076 is more important and useful than this issue, and #2076 is also much easier to implement.

We are still not sure whether `Verify.verify` and `Verify.verifyNotNull` are used in the wild.

[2018-11-06 20:54] rahul404 commented on #2076
can I work on this issue?

[2018-11-06 21:05] mernst commented on #2076
Sure.  Just open a pull request.

[2018-11-07 01:34] astiob commented on #2151
I can confirm that the newly released version 2.5.7 of the Checker Framework compiles my original real-world code successfully. Thanks!

[2018-11-08 12:37] mernst commented on #399
Consider the following test case (which is committed to the repository):

[code]

The Nullness Checker considers all calls to `poll()` to return a possibly-null value, but the first one does not.

This cannot be handled via annotations in the JDK for two reasons.

1. Class `LinkedList` inherits `isEmpty` from `AbstractCollection.`
That is, `LinkedList.java` does not contain a definition for `isEmp

[2018-11-10 00:53] SwingGuy1024 commented on #2076
I'm looking at my previous example:

    public @NonNull ConnectionSource getConnection() {
      if (connectionSource == null) {
        BusinessException.builder()
            .doWhateverStuffIsNeeded()
            .buildAndThrow();
      return connectionSource;
    }

I had previously said this needs an annotation that takes an expression. But I now realize that the proposed @ThrowsException c

[2018-11-10 01:11] ThrowsException commented on #2076
I would love my own exception annotation.

[2018-11-12 11:13] twistedsquare commented on #2173
I think I have the same bug, stack trace below.  This is a central 1000-line class in my project so I can't easily cut it down.  Some notes:

 - It never happens on a full rebuild, only on a partial recompile (but I don't want to have to do a full rebuild all the time!)
 - It happens even without the class itself (View) being modified: more often, it's a [transitive] dependency of View that I've m

[2018-11-12 16:22] vbossica opened #2207 "Remove <mernst@cs.wahsington.edu> and <smillst@cs.washington.edu> in the <id> field"
In the generate `pom.xml` the `<id>` sections containing `<` characters are invalid XML fragment:

[code]

Could you remove the email parts so that the `pom.xml` can easily be parsed?

Thanks!

[2018-11-13 20:53] rahul404 commented on #2076
apologies for delay.
have been busy with college lately.
I will submit a PR soon.

[2018-11-15 03:44] #2207 closed

[2018-11-15 03:45] mernst commented on #2207
Thank you for letting us know about the problem, and sorry you had trouble.  We have now fixed the problem.

[2018-11-15 03:50] mernst opened #2208 "Treat `ClassName.this` like `this`"
Consider the following test case:

[code]

The expressions `this` and `ThisLiteralQualified.this` should be treated identically.

However, the Nullness Checker issues a warning for the latter but not for the former:

[code]

[2018-11-15 16:34] bmhm commented on #2173
Since 2.5.7 (November Release) I get a bunch of them.
Casting in a stream is often involved, but the error message (last visited line) will always only show the line of the class declaration.

i.E. it's probably related to https://github.com/typetools/checker-framework/issues/979

To see how to get there:

do
[code]

No chance to get it working! You'll either get a warning about NonNull vs Nullabl

[2018-11-15 16:48] wmdietl commented on #2173
@bmhm Thanks for the test case. I'm unfortunately unable to reproduce the problem.
I take the following .java file:

[code]

When I run the current Nullness Checker I get:

[code]

What do I need to change to reproduce the `invalid location` error?

[2018-11-15 18:46] mernst commented on #2181
For a simpler reproduction, please see:
https://github.com/typetools/checker-framework/compare/issue2181-test?expand=1
The key question is, "What is the contract of `getNodesForTree` and why cannot it be called here?

[2018-11-15 18:54] wmdietl commented on #2208
Possibly related: #352

[2018-11-15 23:15] bmhm commented on #2173
Ooh, something just came to my mind!
Perhaps it's not the code but the jdk? I just realized my build server will build it just fine, but I get the error locally.

Please try the IBM j9 (please find it bundled with liberty profile on wasdev) and the successor openjdk-openj9 available from adoptopenjdk.net.
J9 is quite different compared to hotspot.

That might be the reason.

[2018-11-15 23:17] bmhm commented on #2173
Also regarding your example: what's wrong with the cast?

[2018-11-15 23:35] wmdietl commented on #2173
Regarding the JDK: I don't have any experience with j9 yet. Let me try that and see.

Regarding the warning from the cast: because of #979 we infer `@Nullable` as bound for `item`. Therefore, the cast could fail and we issue a warning in that situation.
The first `filter` should already refine the bounds, but we currently don't #1345.

[2018-11-16 22:59] wmdietl commented on #2173
I tried OpenJ9 and still can't reproduce the issue.

[code]

I even built a version of our annotated `jdk8.jar` using J9 and still don't see the exception in the test case.

Can you try again to reproduce the issue with a small example?

[2018-11-17 07:33] bmhm commented on #2173
I'll try.
I had an example yesterday where I implemented a jsonb serializer (the new java ee8 JSON binding standard).
Still got it on my internal svn.

Thanks for looking into it.

[2018-11-19 13:43] bmhm commented on #2173
I tried my very best, but I still was not able to reproduce it. I took the maven module into a new project and the error was gone. I then tried to check all maven plugin versions, but with no luck. Sorry…

[2018-11-20 10:29] bmhm commented on #979
To fix #402 (comparators with nullsFirst/Last), you can use this stub:

[code]

I hope this helps someone intil it is finally resolved and added to the shipped annotated jdk8.

[2018-11-21 21:26] seanmcl opened #2212 "No warning or error from bad stub file"
Hi,

I've been happily learning the Checker Framework lately, and in general am very pleased with the experience.  In a short time I've found bugs and design flaws in my team's code with very little effort.

One pain point I've had repeatedly is that when I make a mistake in a stub file, e.g. forgetting to

`import org.checkerframework.checker.nullness.qual.EnsuresNonNullIf;`

I get no warning, an

[2018-11-21 22:59] wmdietl commented on #2212
Glad to hear you're enjoying the Checker Framework so far!
Did you try the suggestions mentioned in https://checkerframework.org/manual/#stub-troubleshooting ?
In particular `-AstubWarnIfNotFound` should give you a warning about unknown annotations, which you can then track down to a missing import.
If the flag didn't work, can you produce a minimal example?
Thanks!

[2018-11-21 23:51] seanmcl commented on #2212
I was using 2.5.3.  When I updated to master `-AstubWarnIfNotFound` caught the error.  Thanks.

For future reference:

=== cli ===
[code]
=== ObjectsBadImport.astub ===
[code]

=== UseObjects.java ====

[code]

I expected a complaint (which I get at master) about an unknown `@EnsuresNonNullIf` annotation.

[2018-11-21 23:51] #2212 closed

[2018-11-23 10:14] twistedsquare commented on #2173
I've managed to attach a debugger to the compiler when the problem occurred.  I have a method like this in class ImportManager:

[code]

When this method is called from class View, the `Window parent` parameter has a @Localized annotation on it with a position of:

[code]

Except that Window doesn't have a type argument, hence the error.  Not to mention that Window probably shouldn't be interactin

[2018-11-23 10:46] twistedsquare commented on #2173
Now that I know where the issue lies, I've been able to produce a reasonably minimal example.  I have two classes which I put in an IntelliJ project, running the Nullness checker:

[code]

And a second:

[code]

If I Rebuild the project, everything is always fine.  If I then make a trivial modification to View (e.g. add a blank line) and Build Project, I always get the error.  The culprit seems to

[2018-11-25 21:50] mernst commented on #1170
Here is another test case:

[code]

The Nullness Checker issues warnings for `quoted1` and `quoted3`, but accepts `quoted2` and `quoted4`.

[2018-11-25 22:32] mernst commented on #2173
Thanks very much for the reproducible test case!  This is extremely helpful.

These commands reproduce the problem from the command line for me:
[code]

[2018-11-25 23:04] mernst commented on #2173
I have committed a test case in branch `issue2173`, where we can work on this issue.

[2018-11-26 00:36] #372 closed

[2018-11-26 13:35] mernst opened #2215 "Permit assignment to @MonotonicNonNull in constructor"
Every possibly-nullable assignment to a `@MonotonicNonNull` field is prohibited.
However, such an assignment should be permitted, as the first assignment in a constructor.
For example, the Nullness Checker currently rejects the below code, but it should be permitted.

[code]

[2018-11-26 13:47] mernst opened #2216 "Permit return of @MonotonicNonNull field"
An assignment of `@MonotonicNonNull` to `@MonotonicNonNull` is forbidden, because the two might be in different states.
However, it is acceptable when a method has a single `return` statement.  Consider the following code, which currently does not type-check but should:

[code]

A less restrictive rule would be that if the lhs has only one assignment (statically), then the assignment is permitted

[2018-11-29 19:39] wmdietl commented on #1630
I think this is also related to #1345.

[2018-11-29 20:21] wosiu commented on #1678
I've got similar problem with tensorlite lib which aparetly uses checker-framework:
```Warning: org.tensorflow.lite.Interpreter: can't find referenced class org.checkerframework.checker.nullness.qual.NonNull```
I agree with @bpappin that thre shouldbe a ProGouard config for libraries like this.
Such line in proguard-rules.pro in this project might help:

[code]

More details for keepattributes her

[2018-11-29 20:34] t-rasmud opened #2217 "Should every type system be required to have a polymorphic type qualifier?"
Section 24.2.3 of the manual states "Each type system has its own polymorphic type qualifier". However, the Initialization, Lock and PropertyKey checkers don't have polymorphic qualifiers defined in their type systems. As a result, calling "getPolymorphicAnnotation()" on any of these checkers results in a BugInCF Exception.
I tried adding a polymorphic annotation to the Initialization checker [(Se

[2018-11-29 21:57] mernst commented on #1678
Just to clarify @wosiu's comment (thanks!), the change needs to be made in the project that uses the Checker Framework.  That's where the `proguard-rules.pro` file appears.

[2018-11-30 16:31] t-rasmud commented on #2217
In that case, should the method `getPolymorphicAnnotation()` return null (and not throw an exception) when a type system doesn't have a polymorphic qualifier?

[2018-11-30 20:23] dlefuen commented on #1412
Is there any plan to address this issue? Or a recommended workaround?

It's a similar issue when the field is initialized using a method reference or a lambda in the constructor.

[2018-12-01 01:39] mernst commented on #1412
@dlefuen Thanks for your interest.  Yes, we wish to address this issue.
If you can contribute a patch, it would be very welcome!  We are short-handed at the moment.
Otherwise, we will get to it as soon as possible.

[2018-12-03 10:02] aprantl commented on #1224
Hi there, I was wondering if you have an update on this topic?

[2018-12-03 21:31] wmdietl commented on #1224
The version at https://github.com/eisop/checker-framework passes all unit tests: https://travis-ci.org/eisop/checker-framework
The down-stream tests are failing mainly because of configuration issues that should be easy to fix up.
See the Google doc https://docs.google.com/document/d/1mcOJUrYzHDMp2MfPztOmOaaSFjOWZquUN1fO_LCmXuo/edit?usp=sharing for further tasks.

The big blocker currently is prod

[2018-12-04 08:55] roglar opened #2221 "CCE in annotation processing, checker 2.5.7"
Trying to simplify my case to a single command line but have not succeeded yet (it is a big maven project) but maybe this is enough for someone...

maven-compiler-plugin: 3.8.0
checkerframework+jdk: 2.5.7
lombok: 1.18.2

Error:java: SourceChecker.typeProcess: unexpected Throwable (ClassCastException) while processing /**/interfaces/dataservice/types/DTest.java; message: java.lang.Integer cannot be

[2018-12-05 16:35] wmdietl commented on #2217
This issue has been closed by https://github.com/typetools/checker-framework/commit/48677c1f4c056319ad089cb763772369f3963fbb

[2018-12-05 16:35] #2217 closed

[2018-12-06 19:53] jwaataja opened #2223 "addComputedTypeAnnotations not called on local variables"
The method to add implicit annotations in `AnnotatedTypeFactory` is never called on local variables. I added this method to `PropertyKeyAnnotatedTypeFactory.java` in the Property Key Checker:

[code]

Running the checker on this class produces no output:
[code]

Because this method is never called, adding implicit annotations to local variables in code can't be done. A search of the framework show

[2018-12-06 23:33] wmdietl commented on #2221
Sorry to hear you're running into issues.
I don't see any ClassCastException (CCE) in your edited issue, now it seems to be an IndexOutOfBounds. Strange.

I do notice:

[code]

and then later:

[code]

The first error is from javac. The Checker Framework shouldn't crash when there is an error in the input Java program, so this is a bit mysterious. But what happens once javac is happy with the inpu

[2018-12-07 03:12] oknirb opened #2224 "androidx.annotation.Nullable"
The Checker Framework supports
  android.annotation.Nullable
  android.support.annotation.Nullable
and the corresponding .NonNull annotations in those packages.

But those packages are obsolete, and are being replaced by androidx.annotation.

Please add support for androidx.annotation.Nullable and .NonNull.

Ref: https://developer.android.com/reference/androidx/annotation/package-summary

[2018-12-07 03:54] wmdietl commented on #2224
Thanks for reporting this! #2225 should address this.

[2018-12-07 17:55] NazguL86 commented on #904
Resuming back this thread as it's still an open issue, here's another example I'm running into:
[code]

This is still an open issue, can we please have an update?
Annonymous class in field initializer are pretty common and would be a miss to all CheckerFramework's customers to not have the null checker running on those.

[2018-12-07 21:47] wmdietl commented on #904
@NazguL86 Can you please provide a complete example?
I tried the following:

[code]
For which the Nullness Checker gives: `Error: [dereference.of.nullable] dereference of possibly-null reference f` on the `f.toString()` line.
So my example must miss something essential to reproduce your issue.

[2018-12-07 22:02] NazguL86 commented on #904
Thanks for the quick follow up. The same example you copied it's not throwing any errors for me, so I perhaps this has been addressed in a newer version of CheckerFramework that I'm not consuming yet. Would you be able to point the version / change that addressed this issue by any chance?

[2018-12-07 22:12] wmdietl commented on #904
I tried with master and the 2.5.4 release, both of which report the error.
I don't remember anything recent that would have changed this.
What version are you using?

[2018-12-07 22:50] NazguL86 commented on #904
I have tried using 2.5.3 and 2.5.6 versions, will try with latest 2.5.7 next.

[2018-12-08 00:15] NazguL86 commented on #904
I think I figured out the difference, it seems that it's due to using the "onlyDefs" option making the CheckerFramework behave differently for anonymous inner initializers.
I'm currently using CheckerFramework on Android and added the following:

build.gradle
[code]

This doesn't signal the error on the anonymous class initializer, while if I run CF on the entire package it does. Unfortunately I h

[2018-12-08 16:00] wmdietl opened #2227 "Anonymous classes and onlyDefs"
This small example produces an error from the Nullness Checker:

[code]

However, there is no way to use `-AonlyDefs` to check this class including all contained anonymous classes.

`-AonlyDefs=Test` should check a class plus all contained anonymous classes (and lambdas).
The current check for the class name in `onlyDefs` should be extended to also check the enclosing top-level class.
This check i

[2018-12-08 16:02] wmdietl commented on #904
I've filed #2227 to keep track of this issue. Let's continue discussion there.

[2018-12-08 16:03] wmdietl commented on #2227
@NazguL86 Do you want to take a stab at fixing this?

[2018-12-08 16:07] #2224 closed

[2018-12-11 19:17] t-rasmud commented on #2163
The correct relationship between the the annotations `@A`, `@B`, and `@C` is as follows:
`@B <: @A` and `@B <: @C`
The checker framework checks for the relationship `@B <: @A` and issues an error if it is violated.
The relationship `@B <: @C` gets violated when the explicit type at constructor invocation is a subtype of the constructor declaration type. Example: `new @C MyClass(22)` where `@C` is

[2018-12-18 23:38] #2187 closed

[2018-12-18 23:40] t-rasmud commented on #2187
The type of a newly created Object can be a supertype of the constructor declaration type. See #2163

[2018-12-23 00:57] t-rasmud opened #2229 "NullPointerException in DependednTypesHelper with the lock checker"
Consider this test case:
[code]
Running the lock checker on the above example with the command `javac -processor lock Issue2186NPE.java` results in the following NukllPointerException:

[code]

[2018-12-25 08:34] t-rasmud opened #2230 "Type annotations in javac type of object creation"
I am trying to get the explicit annotations at constructor invocation sites which requires me to make a call to `TreeUtils.typeOf()` as shown [here](https://github.com/t-rasmud/checker-framework/commit/9fdde94fb19f9b6fd58de0c3e361d582daef52d2#diff-b997fe0effda8ef8635e7396f1861e64R1018).
However, printing out the results of this call produces ambiguous results.

Consider the test case below:
[code]

[2019-01-01 23:40] wmdietl commented on #2230
Thanks for the error report!
`javacutil` contains low-level utilities that directly interact with javac. `TreeUtils.typeOf()` directly returns the type that javac maintains for a particular tree. Unfortunately, that type doesn't consistently contain type annotations.

I tried your change with the Java 9 version of the Checker Framework (available at github.com/eisop/checker-framework) and in that

[2019-01-04 14:53] ahubold commented on #1224
I tried to use it with our custom checker but I run into the following error:

[code]
I'm using Java 11 here - not Java 1, of course ;-)

The test seems to be too strict at

https://github.com/eisop/checker-framework/blob/6c838ec0596409538bc54e52e96b2626cb1760a3/framework/src/main/java/org/checkerframework/framework/source/SourceChecker.java#L453

[2019-01-04 20:07] wmdietl commented on #2173
@twistedsquare @bmhm
Thanks a lot for the minimized test case and sorry for not getting to this sooner.
In file `ImporterManager.java` method `chooseAndImportFile` there is a lambda parameter that has an annotated `@Localized String` type argument.

Java 8 stored this type annotation with method `chooseAndImportFile`, which then causes the crash when the Checker Framework tries to read that class

[2019-01-04 23:17] shashiranjan opened #2234 "AsSuperVisitor: type is not an erased subtype of supertype"
I am currently  using checker framework 2.5.8 version and facing weird BugInCF crash issue.

I have a complex class hierarchy something like below

public class Test1 extends Test2 {
}

public abstract class Test2<T extends Test3 & Test4>
        extends Test5<T> {
}

Test3 and Test4 are interfaces  and Test5 is something like below,

public abstract class Test5<T extends Test3 & Test4>  {
}

java

[2019-01-05 03:11] wmdietl commented on #2234
@shashiranjan Thanks for the report and sorry for the problem you're running into.
All the issues that you referenced are closed and their test cases pass.
Like in those tests, could you try to produce a small, reproducible test case? This is much easier for the person reporting the issue than for us trying to take your description and trying to produce it.
Once we have a test case it is usually p

[2019-01-05 09:59] shashiranjan commented on #2234
Hi Werner,

Thank you for quick response. Here is a small and reproducible test case,

//Test.java
public class Test extends Test2 {
    public Test() {
        super(new HashMap<>());
    }
}

//Test2.java
import java.util.Map;
public abstract class Test2<T extends String>{
    private Map<Abc, String> abcMap;
    public Test2(final Map<Abc, String> abcMap) {
        this.abcMap = abcMap;
    }
}

[2019-01-05 13:04] twistedsquare opened #2235 "Nested generic method calls can hide null value"
I have some code which passes the nullness checker but will cause a NullPointerException when run.  I've boiled it down to the following minimal example.  The key seems to be the nested calls to the generic `make` method.  I think perhaps the nullness checker is inferring a `@Nullable` type for the inner call, but then it should surely propagate this and not allow the assignment to a non-null valu

[2019-01-05 15:05] bmhm commented on #2173
@wmdietl you referenced a java 9 issue, but this issue is about java 8. Does this mean you're giving up on java 8 support? :(

[2019-01-05 15:38] wmdietl commented on #2234
Sorry, I can't reproduce the issue.
In Test.java I added an import for java.util.HashMap.
I then tried multiple combinations of possible file orders and none crashed.
I tried the Nullness and Regex Checkers.

Can you give more complete instructions, including one of the distributed type systems?

[2019-01-05 15:42] wmdietl commented on #2173
The eisop version of the Checker Framework uses a Java 9 javac, but can still be executed with a Java 8 JVM.
You can use `-source 8`/`-target 8` to generate Java 8 bytecode.
So using the Java 9 javac shouldn't exclude any existing users.

[2019-01-05 15:48] wmdietl commented on #2235
This false negative is unfortunately caused by #979. At the moment for such nested method type argument inference we infer incorrect type arguments and suppress errors to reduce the number of false positives.

We do support the `-AconservativeUninferredTypeArguments` flag, which gives you errors for this invocation:

[code]

However, it might also give you false positives and might get annoying.
C

[2019-01-06 19:18] shashiranjan commented on #2234
Hi Werner,

I tried Checker Framework Live Demo page to test the code. Here is the link of live demo of code which fails.

[Checker framework live demo for asSuperType error](http://eisop.uwaterloo.ca/live/#mode=display&code=import+org.checkerframework.checker.nullness.qual.Nullable%3B%0Aimport+java.util.HashMap%3B%0Aimport+java.util.Map%3B%0A%0Aclass+Abc+%7B%0A++++public+Abc()+%7B%0A++++%7D%0A%7D

[2019-01-06 22:17] wmdietl commented on #2234
Perfect, thanks! I've minimized it further to

[code]

Do note that the example `uses unchecked or unsafe operations`, in particular the raw type as supertype.
I'll see whether we can work around this.

[2019-01-07 02:01] #2234 closed

[2019-01-07 02:02] wmdietl commented on #2234
Thanks again for the report! This issue should be fixed in master.
Please let me know if you're still running into this or file a new issue for other cases.

[2019-01-08 23:42] mernst commented on #2230
What higher-level methods in `framework` do you recommend?
Also, do other uses of `TreeUtils.typeOf()` also need to be changed, so that we don't get unexpected breakage with Java 9?

[2019-01-09 21:20] twistedsquare commented on #2235
I took the plunge and turned on the conservative checker.  It ended up not spotting any further null issues (after I fixed the one that triggered this bug) but I feel better for having it on.  The main places where I needed to add a line was all the calls to Collectors.toList plus various nested generic building calls (e.g. Stream.of).  In case it helps, I totalled up, and to compile under the con

[2019-01-10 20:36] shashiranjan opened #2239 "NullPointerException when running infer-and-annotate.sh tool"
I was following the steps for Whole-program inference to infer the types. But I was getting nullPointerException  for infer-and-annotate.sh script. Can you please check if I am missing something in command or is it a bug in tool?

Steps followed from here: https://checkerframework.org/determinism-checker-manual/manual.html#whole-program-inference

Command that I ran:
[code]

[code]

[2019-01-14 18:25] trask opened #2240 "Error parsing the postcondition expression for java.util.jar.Attributes.put(java.lang.Object,java.lang.Object)"
Hi!

Getting this error after upgrading from 2.5.6 to 2.5.7 (error also occurs in 2.5.8):

[code]

The above referenced code is here https://github.com/glowroot/glowroot/blob/v0.13.0/agent/it-harness/src/main/java/org/glowroot/agent/it/harness/impl/DelegatingJavaagent.java#L52

Let me know if you'd like any more info.

Thanks,
Trask

[2019-01-14 19:43] wmdietl commented on #2240
Hi Trask,
thanks for filing this bug!
The [commit that introduced these annotation](https://github.com/typetools/checker-framework/commit/3290705a41587c7e9974f6b04131d281c7130cc9) very consistently used the correct `#1` to refer to the first parameter. That one method uses the parameter name instead, which causes the error you're seeing.
I'll prepare a PR that fixes this.

[2019-01-15 23:37] t-rasmud opened #2243 "Annotations in extends clause don't affect valid types"
Consider the qualifier hierarchy: `@B <: @A`
If a class is declared as `class X extends @B Y { ...}`, then all instances of `X` should be instances of `@B`, thus it should be impossible to have `@A X`.

Consider

[code]

This currently type-checks which is incorrect. We expect the checker-framework to report an error at the declaration`@Nullable ExtendsSubtypingIssue a`.

[2019-01-15 23:54] wmdietl commented on #2243
@t-rasmud @mernst
I've shared a Google Doc that summarizes the semantics for class declarations, class extends clauses, constructors, and object creations. This relates to this issue and also to #2163 and a few others you've opened.

At the moment this is not the semantics we have and we haven't decided that this is the most intuitive location to put such a constraint. At the moment, adding `@NonN

[2019-01-17 21:52] #2185 closed

[2019-01-17 21:54] mikeb01 opened #2244 "Under parallel compilation, checker-framework can fail with a NullPointerException"
We currently use the checker framework (2.5.8) within buck (see #2164 for a similar issue and sample project).  Buck creates a thread pool of JavacTaskImpls and in the more recent release (2019.01.10.01) the isolation between the compilers has changed such that, in some circumstances checker framework fails with a NullPointerException.

Code being compiled:
[code]

StackTrace:
[code]
Build command

[2019-01-17 22:05] #2166 closed

[2019-01-20 23:52] wmdietl commented on #2181
In general, there can be call-backs from dataflow into the type factory, so code needs to be written carefully to account for dataflow not being finished yet.
Looking at the stacktrace from this crash, we can see `org.checkerframework.dataflow.analysis.Analysis.callTransferFunction(Analysis.java:408)` on the chain to the type factory call.

If you remove the null dereference in the issue2181-test

[2019-01-21 00:10] wmdietl commented on #1224
@ahubold I've pushed several changes that now allow me to build with JDK 8, 9, 10, and 11! It was quite a bit more than just this version check, as several APIs changed over the different versions.

All tests pass with JDK 8. For the others the big issue is adding a side-channel for the annotated JDK; however, also a few other things where we interact with the compiler broke, e.g. some expression

[2019-01-21 10:19] ahubold commented on #1224
@wmdietl Thank you! That already looks quite good.

I still got an error when building the Checker Framework with Oracle OpenJDK 11.0.2. I was able to build it with Java 8 and test with Java 11 then. This was the build error with Java 11, in case you're interested:

[code]

The tests for our custom checker run successfully with Java 11 now :+1:  , so I tried to run the checker on our source code a

[2019-01-23 22:00] t-rasmud opened #2247 "Nullness Checker: Any instance type of a class must be a subtype of its declared type"
If the declaration type of a class is `@A`, then every instance type of this class must be a subtype of `@A` and the checker-framework must report an error otherwise. Currently, the checker-framework does not perform this check.

Consider this example:

[code]
Since `DeclaredClass` has the type `@NonNull`, it should be illegal to write `@Nullable DeclaredClass object;`

Running the command `javac

[2019-01-23 23:18] wmdietl commented on #2247
Related discussion: #1751
The current implementation uses class declaration annotations only as a default for uses of that type, not as a restriction on all possible uses.
For example:

[code]

Gives an incompatible assignment error.

As outlined in the design document, I agree that changing class declaration annotations to be upper bounds would be better.

[2019-01-23 23:39] t-rasmud opened #2248 "getAnnotations() method in AnnotatedDeclaredType doesn't return the correct annotations"
Consider the following test case:

[code]

I am trying to get the annotations on the useType of a class in `BaseTypeVisitor's isValidUse()` method as follows:

[code]

When I execute the command `javac -processor nullness ValidUseType.java`, I expect that `getAnnotations()` would return `@Nullable`. Instead, I get the following output:

[code]

[2019-01-23 23:56] wmdietl commented on #2248
The `NullnessVisitor` overrides `isValidUse`: https://github.com/typetools/checker-framework/blob/master/checker/src/main/java/org/checkerframework/checker/nullness/NullnessVisitor.java#L105 and apparently doesn't call super.
Therefore you only see output from the KeyFor Subchecker.
Did you try modifying `NullnessVisitor.isValidUse`?

[2019-01-25 17:32] t-rasmud commented on #2248
@wmdietl You are right! Closing this issue as it is not a bug.

[2019-01-25 17:32] #2248 closed

[2019-01-28 19:44] t-rasmud commented on #1751
The checker-frameworks actually enforces this check in the `BaseTypeVisitor's isValidUse()` method https://github.com/typetools/checker-framework/blob/f93b5ffc571c04a286da2f87cad40fabf18eb3d2/framework/src/main/java/org/checkerframework/common/basetype/BaseTypeVisitor.java#L3470

However, the nullness checker overrides this check with the reasoning given in the comments here

https://github.com/ty

[2019-01-29 22:00] msridhar opened #2262 "Feature request: optimistic mode for unannotated class files"
This is following up on [a 2-year-old thread from the Checker Framework mailing list](https://groups.google.com/d/msg/checker-framework-discuss/JcX-rSbg1eI/bYPhquxXBgAJ).  Consider the following example:

`T1.java`:
[code]
`T2.java`:
[code]
If we compile T1.java without the Checker Framework, and then run the Nullness Checker on when compiling T2, we get an error that the call `T1.checkStr(null)`

[2019-01-29 23:21] wmdietl commented on #1224
@ahubold Thanks for testing!

1. Nobody has adapted the upstream projects yet. I'll take a look.

2. Thanks for the new test. I didn't find a reason why that would start failing, so I added a work-around that tries to avoid a whole lot of work. Please let me know whether that works for you now.

3. Having a beta release is a good idea to sort out any remaining bugs.

[2019-01-29 23:39] wmdietl commented on #2262
Thanks for the comment and pointing out the documentation is lacking.

There is some description here: https://checkerframework.org/manual/#defaults-classfile

At the moment it isn't possible to easily switch between conservative and optimistic defaults for unchecked bytecode.

As type system designer one can use
https://github.com/typetools/checker-framework/blob/master/framework/src/main/java/or

[2019-01-29 23:47] wmdietl commented on #1751
Unfortunately, the comment in `NullnessVisitor` is still correct.
There is no separate category for type declarations and normal defaults apply, making all type declarations `@NonNull`.
If the `isValidUse` implementation were used, all `@Nullable` uses of types would result in an invalid use error!

As outlined in our discussion document, we need to change the default for type declarations to be t

[2019-01-30 00:32] wmdietl opened #2263 "Receiver type checks for `super` invocations"
Take the following simple example:

[code]

This incorrectly passes the Nullness Checker.
The invocation `super.foo()` has an invalid receiver type and an error should be raised.

[2019-01-30 01:48] t-rasmud commented on #1751
@wmdietl Will this also require changing the default for type declaration in the initialization checker to `@UnknownInitialization`? It is currently set to `@Initialized`.

[2019-01-30 06:42] Psp98 commented on #2172
Hi, would like to work on this issue (if still open). Can you provide me proper references to files with which I can start working?

[2019-01-30 12:22] ahubold commented on #1224
Yes, works for me. Thank you.

[2019-01-30 15:23] mernst commented on #2172
This is related to the dataflow framework as indicated by the [dataflow](https://github.com/typetools/checker-framework/labels/Dataflow) tag on it.  So that is where to start.

When you ask for help, please always explain what you have done so far and what the result was.  (If it is "nothing", then make an attempt before asking for help.)

More generally, if you want to work on an issue, it is bes

[2019-01-30 17:40] t-rasmud opened #2264 "The type of a constructor declaration must be a supertype of the type of its super() constructor."
Consider the tainting checker where `@Untainted <: @Tainted`.

[code]

In the example above, `SubtypeConstructorSuper()` is annotated as `@Untainted`, but it calls `super()` which is `@Tainted`. This should be illegal. The checker framework should enforce that the type of `SubtypeConstructorSuper()` be a supertype of the type of ` SuperClass()`.

Currently, the checker framework places no such res

[2019-01-30 18:07] t-rasmud opened #2265 "Type of "this" in field initializers & initializer blocks must be the least upper bound of all constructor result annotations"
In the lock checker, `@GuardedBy <: @GuardedByUnknown`.
Consider the following example which has an initialization block.

[code]

We expect the type of `this` to be the least upper bound of all constructor types (`@GuardedByUnknown` in this example). So, the checker framework must report an error at line `@GuardedBy InitializerLub field = this;` because `this` should have type `@GuardedByUnknown`

[2019-01-31 18:19] wmdietl commented on #1751
Note that the `NullnessVisitor` is a subtype of the `InitializationVisitor`. So once you change `NullnessVisitor.isValidUse` to invoke `super`, the Initialization hierarchy probably will run into the same issue.
So yes, I think the default for type declarations for the Initialization Checker should also be the top type, in this case `@UnknownInitialization`.

[2019-01-31 18:43] aagarwal1012 commented on #2263
@wmdietl, I want to work on this issue. Can you please guide me?

[2019-02-01 13:16] gokaco commented on #1880
I want to contribute to this issue. I just done studying how the qualifier works. Just for experiment I tried to made the default qualifier with another name but it did not worked. I think the qualifier would depend on some more files rather than just the file present in the framework/qual. It would be nice if provide some guidance. Am I correct that only DefaultQualifier.java file is making a def

[2019-02-04 20:16] gokaco commented on #1880
After a programmer has written a @DefaultQualifier annotation that sets @Nullable as the default, whenever the default qualifier will be set to NonNull then it will make whole program NonNull irrespective of location given i.e. whenever the value will be given NonNull.class, locations will be of no use i.e. it will always be applied as TypeUseLocation.ALL. So which section should I study to solve

[2019-02-05 01:38] mernst opened #2276 "Print relevant type qualifiers in error messages"
This is related to https://github.com/typetools/checker-framework/issues/788, but is not exactly the same.

Consider the following code.

[code]

Compiling it with `-processor nullness` yields this unhelpful error message:

[code]

When run with `-AprintVerboseGenerics`, the error message is clearer:

[code]

Here is a proposed change:

Let the "relevant" type system be the ones that cause an erro

[2019-02-05 16:55] gokaco commented on #1880
Test case such as:-
import org.checkerframework.checker.nullness.qual.*;
import org.checkerframework.framework.qual.*;
import java.io.*;

@DefaultQualifier(value=Nullable.class, locations = TypeUseLocation.ALL)
class ex
{
		Object nullableField = null;
    	@NonNull Object nonNullField = new Object();
    	void perl(Integer a)
    	{
    		a=null;
    	}
}
@DefaultQualifier(value=NonNull.class, lo

[2019-02-06 15:56] gokaco commented on #1880
Above error shows that whenever we will put value as NonNull.class the location will be of no use. Then how can we support @ParametersAreNonnullByDefault annotation. A little bit of guidance will be really helpful.
Thanks in advance.

[2019-02-06 23:49] #2147 closed

[2019-02-07 21:09] mernst commented on #2235
Thanks very much for the bug report.  We really appreciate it.

Also, thanks for reporting your experience with `-AconservativeUninferredTypeArguments`.  I had expected use of it to be more disruptive, and it's great to hear that my pessimism was unfounded.

[2019-02-07 21:09] #2235 closed

[2019-02-07 21:17] mernst commented on #788
The test case in #594 now prints the desired information, so I am closing this issue.

[2019-02-07 21:17] #788 closed

[2019-02-07 21:19] mernst opened #2286 "Enable -AprintVerboseGenerics whenever the error message contains "type.argument""
Consider the following code

[code]

Compiling it with `-processor nullness` yields this unhelpful error message:

[code]

When run with `-AprintVerboseGenerics`, the error message is clearer:

[code]

There is already a test that makes the Checker Framework output more verbose error messages (similar to `-AprintVerboseGenerics`) when the "found" and "required" types are textually identical.

An a

[2019-02-08 05:06] #2286 closed

[2019-02-09 19:19] t-rasmud commented on #2247
Fixed in 937286d2e404db5b49177c2ba6dd1d511aedb711

[2019-02-10 03:01] wmdietl commented on #2247
Didn't that commit only add the possibility to declare the default for type declarations?
The issue with e.g. the Nullness Checker doesn't seem fixed.

[2019-02-10 09:12] mernst commented on #2247
Werner is right: the original issue is not fixed.  I have added a test case at `checker/tests/nullness/Issue2247.java`.

[2019-02-10 15:19] wmdietl opened #2291 "Release framework artifact"
An artifact for `framework` is missing, which is the dependency one would add when developing a new type system.
At the moment one would have to use `checker`, which contains all distributed type systems and therefore many unnecessary classes.

The Maven artifact poms are here:
https://github.com/typetools/checker-framework/tree/master/maven-artifacts/poms

A `framework-test` artifact exists and c

[2019-02-12 03:20] wmdietl commented on #1751
#2247 is the dedicated bug for the remaining tasks.

[2019-02-12 03:20] #1751 closed

[2019-02-14 01:03] t-rasmud opened #2302 "Incorrect type inference"
Consider the following diff, which is also on the `issue2302` branch:

[code]

Running the following command:
```javac -processor signature framework/tests/all-systems/Issue2302.java```
leads to a crash:
[code]

The `Issue2302.java` file is checked in and is:

[code]

The problem seems to be type inference choosing `Object` as the type argument, when it ought to choose `byte[]`.

[2019-02-15 17:15] mernst commented on #2302
@t-rasmud What branch is this on?

[2019-02-15 17:45] t-rasmud commented on #2302
@mernst It's on branch Issue2163Final - https://github.com/t-rasmud/checker-framework/tree/Issue2163Final

[2019-02-15 17:48] t-rasmud commented on #2263
@wmdietl When I tried to reproduce this issue, I got the expected error. See PR https://github.com/typetools/checker-framework/pull/2308

[2019-02-15 20:25] mernst commented on #2302
I have reproduced the bug more simply here: https://github.com/mernst/checker-framework/commit/7f9e855550cf1f4c6de9da091b18c49c4b599bd1

The issue is related to argument type inference and the diamond operator, but I'm not sure exactly how.

[2019-02-16 00:16] #2263 closed

[2019-02-21 20:46] cushon opened #2318 "Option to make `nullness:` prefix for suppression strings mandatory"
As a follow-up to #1701, it might be nice to have a way to make the Checker only recognize suppressions with a prefix corresponding to a type system, e.g. `nullness:`. The advantage of the prefixes is that it makes it possible to recognize suppressions that are no longer needed, as discussed in the other bug.

[2019-02-21 23:23] mernst commented on #2302
When this is fixed, 20f66e0 should be reverted.

[2019-02-23 19:30] #2302 closed

[2019-02-24 04:56] t-rasmud opened #2324 "getExplicitAnnotations() method in the AnnotatedTypeMirror class doesn't return expected result."
Consider the following test case:

[code]
I want to get the explicit annotations on the `newClassTree` type which is `new @Untainted Object()` in the above example. I call the method `getExplicitAnnotations()` and print its size. See the diff [here](https://github.com/typetools/checker-framework/compare/master...t-rasmud:getExplicitAnnotationsIssue#diff-b997fe0effda8ef8635e7396f1861e64R2319).

I r

[2019-02-24 17:21] seanmcl opened #2326 "Help with packaging checker for Maven Central"
We've recently pushed the [KMS compliance checker](https://github.com/awslabs/aws-kms-compliance-checker), referenced in the CF manual, [to Maven Central](https://search.maven.org/search?q=a:aws-kms-compliance-checker).  Adding a dependency (example [here](https://github.com/seanmcl/kms-compliance-example)) enables CF to find the checker, but not the stub file.  The file is included in the top lev

[2019-02-24 18:15] seanmcl opened #2327 "Fail build on missing stub file"
Is there a way to fail a build rather than continuing if CF can't find an expected stub file?  For example

[code]

can't find the stub file, but the compilation succeeds.  There isn't even a warning, just a `Note`.

[2019-02-24 19:55] mernst commented on #2326
I cannot reproduce your problem.
What is the `aws-kms-example` directory?

I tried using `git@github.com:seanmcl/kms-compliance-example.git` for that, but that led to a build failure.  (I am using JDK 8, and I suspect that is the problem.)

I ran these commands:

[code]

And the output of the last one was:

[code]

Can you give a few more details to enable me to reproduce the problem?
I have a hyp

[2019-02-24 20:44] #2327 closed

[2019-02-25 01:30] seanmcl commented on #2326
Sorry, that's frustrating.  I just tried again:

[code]

I wonder if it's a gradle version issue.  I'll add a gradlew file and see if that fixes your problem.

[2019-02-25 01:36] seanmcl commented on #2326
Added gradle wrapper.  Please try

[code]

If this doesn't work I'm not sure what to do.  I'm not a Java programmer.

[2019-02-25 01:38] seanmcl commented on #2326
Here is the JAR file contents on Maven Central:

[code]

Is it possible to package the stubs with the jar?  Do the stub files need to be in `resources`, `stubs` or some other directory?

[2019-02-25 17:45] mernst commented on #2326
I can now reproduce the problem.  Thanks!

[2019-02-26 04:36] jwaataja opened #2330 "Invalid receiver on constructor with polymorphic type parameters"
Consider this class
[code]

When running the tainting checker, I get this output
[code]

I don't think there should be an error for this line, it's just calling an empty constructor. This indicates the receiver for a method is invalid, which doesn't make sense for constructors.

Notice, that the line that causes an error is `new @Untainted A<@PolyTainted Integer>()`, not `new @Untainted A<@PolyTai

[2019-02-26 22:35] mernst commented on #2326
The problem is where you placed the `.astub` file within the `.jar` file.
[Section "Using a stub file" in the manual](https://checkerframework.org/manual/#stub-using) says:

You put `GenerateDataKeyRequest.astub` at the top level in `aws-kms-compliance-checker-1.0.1.jar`.
In a `.jar` file that contains more than one checker, putting `.astub` files at the top level would be error-prone and confusin

[2019-02-27 00:52] seanmcl commented on #2326
I moved the stubs to the spot you mention, but it still doesn't work.  It's not in maven search yet, but it's in the repo:

[code]

[code]

[2019-02-27 16:13] mernst commented on #2326
I'm sorry you are still having trouble.

It looks to me like maybe there is a problem in the Maven Central configuration for `ams-kms-compliance-checker`.

Here is how I came to that hypothesis.

1. [Build the Checker Framework](https://checkerframework.org/manual/#build-source) from its version control repository.
Include at least up to commit ac8c26be792f7178de8c2a949c44f6953ed7224f; if you do `

[2019-02-27 17:26] mernst commented on #2326
Found it.  The problem is that [this commit](https://github.com/seanmcl/kms-compliance-example/commit/027374dc9c7ff27362477645ce16708d4f242d32) failed to change [these](https://github.com/seanmcl/kms-compliance-example/blob/master/checkerframework.gradle#L14) [lines](https://github.com/seanmcl/kms-compliance-example/blob/master/checkerframework.gradle#L25).

Once I updated those, everything works

[2019-02-27 17:38] seanmcl commented on #2326
Wonderful! Thanks so much for digging in. I wasn’t sure how to debug.

[2019-02-27 17:42] mernst commented on #2326
I'm happy to help.  Go ahead and close the issue if it is resolved to your satisfaction.  And let us know if you have any other problems or questions.

[2019-02-27 17:47] #2326 closed

[2019-02-27 21:56] Kakarot-SSJ4 opened #2334 "Index checker fails to recognize non immediate statements that follow an if statement."
Consider the following small program:
[code]
One would expect no error as in b = a.substring(0,a.indexOf('d')); a.indexOf('d') will be non negative as checked by the if statement.
On the command line, type:
```javac -processor org.checkerframework.checker.index.IndexChecker indexcheck.java```
Output:
[code]

Now modify the code by removing System.out.println("hey"), i.e., the code becomes:

[code]

[2019-02-28 23:03] #2163 closed

[2019-02-28 23:08] #2186 closed

[2019-02-28 23:20] #2243 closed

[2019-03-01 00:44] #2264 closed

[2019-03-02 21:33] the1derer opened #2343 "Updating Intellij Instruction to quickly apply Google Coding Style"
While learning about Bazel tool I got to know a **super easy method to apply and adhere to Google Coding Style** and as Checker Framework also recommends using Google's Code Style I think it would help if we **include this in Checker Framework Manual**.
Guide Present at
**See only last step at**
[Steps to apply Google Java Code Style in IntelliJ](https://www.bazel.build/contributing.html#creating-

[2019-03-03 15:29] mernst commented on #2343
Thanks for the tip.  The authors of google-java-format give [instructions for configuring your IDE](https://github.com/google/google-java-format#using-the-formatter).  What is your reason for wanting to link to different instructions?

[2019-03-03 15:54] the1derer commented on #2343
Sorry, I didn't know that they provide formatter [instruction for configuring IDE](https://github.com/google/google-java-format#using-the-formatter) themselves as there is no mention for the same in [Google Java Style Guide](https://google.github.io/styleguide/javaguide.html)
i am closing this issue.
Thanks for helping.

[2019-03-03 15:54] the1derer commented on #2343
[nstruction for config](url)

[2019-03-03 17:42] mernst commented on #2343
The style guide gives the rules, but doesn't dictate how to enforce them.
You are right that it might be nice for the style guide to give such a pointer somewhere, maybe at the very end.

[2019-03-04 02:37] the1derer commented on #2343
So, Should I make PR for doing this in Checker Framwork manual?

[2019-03-04 02:38] #2343 closed

[2019-03-04 02:39] the1derer commented on #2343
So, Should I make PR for doing this in the Checker Framework manual?

[2019-03-04 04:43] mernst commented on #2343
I already updated it.

[2019-03-04 04:54] the1derer commented on #2343
Thanks

[2019-03-04 14:15] Kakarot-SSJ4 opened #2344 "Index Checker: Print either required: "integer>=0" or "@NonNegative or @Positive" but not both"
Consider the following code:
[code]
Type in the terminal: javac -processor org.checkerframework.checker.index.IndexChecker errormsg.java
It produces the following error:
[code]
One of the following: "an integer>=0" or "@NonNegative or @Positive" is redundant and should not be displayed for less clustered error details.

[2019-03-04 21:49] Kakarot-SSJ4 opened #2345 "Invalid conditional.type.incompatible error"
Consider the following code:
`import java.io.IOException;
import java.io.Reader;

import org.checkerframework.checker.index.qual.*;

class conderr extends Reader{
public Reader abc;
public conderr(Reader xyz){
	this.abc = xyz;
}
public void close() throws IOException {
	abc.close();
}
public int read( final char[] cbuf, final @NonNegative int off, final int len ) throws IOException { // offset val

[2019-03-04 22:04] kelloggm commented on #2345
Thanks for reporting. This bug report is very difficult to read. Here are a few comments on why:
- your code example is not minimized: it issues errors other than the one you're reporting. You should try to remove everything but the part that issues the error.
- the code isn't formatted properly. Try surrounding code blocks with "```" on GitHub to get proper formatting.
- when writing annotations,

[2019-03-05 17:20] Kakarot-SSJ4 commented on #2345
Yes, I'd like to try to investigate this bug as my first bug, can you tell me where to start or which files to target?

[2019-03-05 17:24] kelloggm commented on #2345
The unexpected error is being issued by the Constant Value Checker, so I would start by investigating it. My usual process for finding an unexpected error, though, is to trace it backwards: start with the code that actually issues the error (which you can find by searching the codebase for the error code, which in this case is "conditional.type.incompatible") and try to understand what it does and

[2019-03-05 17:49] kelloggm commented on #2344
Thanks for the report! The rationale for the error message including both is that a variable with either type is acceptable. You're right, though, that `@Positive` is a subtype of `@NonNegative`, so the error message is mostly redundant.

I think it would be okay to write the error message so that `@Positive` is not mentioned, but I also don't think there's anything wrong with the error message th

[2019-03-05 17:57] kelloggm commented on #599
I think I've found another test case for this issue:

[code]

Issued errors:
[code]

[2019-03-06 10:01] Kakarot-SSJ4 commented on #2344
You misunderstood my interpretation, I meant to convey that either "an integer >= 0" be printed or "@NonNegative or @Positive"(both together) be printed, as either of the above two options completely describe the requirement.

[2019-03-06 20:05] kelloggm commented on #2344
Oh! My apologies.

You're right that either would be sufficient, but there is a significant advantage to having both:
- `"an integer >= 0"` is in the language of mathematics; a programmer does not need to know anything about the typechecker to understand what it means
- `@NonNegative or @Positive` is in the language of the typechecker. Part of the job of the error message is to educate the reader

[2019-03-06 20:05] #2344 closed

[2019-03-07 19:33] mernst commented on #2324
We could investigate whether the Java 9 compiler does a better job of retaining these annotations.

[2019-03-08 22:39] gokaco commented on #1307
Mike, I am not understading the real motive of this issue. @DefaultQualifier is repeatable using @DefaultQualifiers and @EnsureQualifierIf is also repeatable using @EnsuresQualifiersIf. Do you want that without using @DefaultQualifiers and @EnsuresQualifiersIf annotations they should be repeatable?

[2019-03-08 22:51] mernst commented on #1307
Yes, you are right that wrappers are defined that can contain multiple annotations.
But, it is not possible for a programmer to write multiple annotations and have the wrapper automatically inferred.
There is documentation here:  https://docs.oracle.com/javase/tutorial/java/annotations/repeating.html

[2019-03-09 17:02] mernst commented on #599
@kelloggm The problem you encountered is a bug in the Index Checker.  It is distinct from #599, which is a bug in the Nullness Checker.  I have opened a pull request to fix the bug you encountered:  https://github.com/typetools/checker-framework/pull/2351 .

[2019-03-11 14:50] gokaco opened #2353 "Value Checker unsafe cast warning for primitive wrappers applied to constants"
Warnings are occurring while running the given piece of code:-
command-
`javac -processor index ex2.java`
code-
[code]

Output:
[code]
How to make it verify statically?

[2019-03-11 16:51] mernst commented on #2353
Thanks for the report.  This is definitely a bug caused by 19807da029d805318677f0a18445452554bd8b73.  `BaseTypeVisitor` should not issue the warning for annotations that are soundly introduced by the type system.

PS: A tip to improve the formatting of GitHub issues you report, surround multi-line code or output with ```...```.  (I have done that for this issue.)

[2019-03-11 17:46] mernst commented on #599
Fixing this problem might involve moving some code from the Index Checker (see code near #2351) into the framework, since the Index Checker infers all levels of the array type in an array creation expression.

[2019-03-11 18:27] bvrsilva1 opened #2354 "JavaSource2CFGDOT not generating the DOT representation of the CFG of a given method"
I'm using JavaSource2CFGDOT.java to create the DOT representation of the control flow graph of a given method.

I've cloned the project from GitHub, executed  `./gradlew cloneAndBuildDependencies` and `./gradlew assemble`.  I opened the project on IntelliJ, configured `JavaSource2CFGDOT.java` as the main class, and used `path_to_desktop/Test.java path_to_desktop/ -method test -class Test -pdf` as

[2019-03-11 22:23] mernst commented on #1307
Here is a list of annotations that should be `@Repeatable`:
[code]

[2019-03-12 17:54] gokaco commented on #1880
Is this issue important now because when pull request #2350 will get merged Parameters can be made Nonnull by putting this-
```@DefaultQualifier(value = NonNull.class, locations = TypeUseLocation.PARAMETER)```
after if a programmer has written```@DefaultQualifier``` annotation that sets ```@Nullable```?

[2019-03-13 17:35] smillst commented on #2247
This is already implemented in the framework.  The Nullness Checker changes this behavior by overriding isValidUse in NullnessVisitor.

[2019-03-13 22:30] mernst opened #2358 "Make `Map.keySet()` handle multiple argments to `@KeyFor`"
Currently, the return type of `Map.keySet()` is `Set<@KeyFor("this")>`, with `this` appropriately viewpoint-adapted.
However, the keys should be `"this"` **and** all the keys on the receiver's key type.

A test case appears at `checker/tests/nullness/KeyForMultiple.java`

The current output is

[code]

(This seems to be the same as issue #414, but that issue was closed as fixed, and the problem st

[2019-03-14 04:28] mernst commented on #399
Here are some more implementation notes.

**Precise handling of PriorityQueue.peek() and poll()**

The Nullness Checker issues a false positive warning for this code:

[code]

The Checker Framework does not determine that `active.peek()` returns a non-null value in this context.

The contract of `peek()` is that it returns a non-null value if the queue is not empty and the queue contains no null v

[2019-03-14 15:12] #2159 closed

[2019-03-14 19:34] #2318 closed

[2019-03-15 09:38] paulinsider commented on #2354
I have this problem too. If you solve the problem, please reply to me. Thank you very much.

[2019-03-15 15:32] mernst commented on #2354
A web search suggests that this may be an IntelliJ problem.  Are you able to reproduce it from the command line?  Doing so would also help others who wish to help but are not IntelliJ users.

[2019-03-16 20:18] gokaco opened #2366 "Unsigned is not printable"
An error occurred which tells we need to annotate print function too in the jdk-
command-
[code]
code-
[code]
Output -
[code]

[2019-03-17 02:26] mernst commented on #2366
This looks like the right behavior to me, because an unsigned value should never be printed using regular printing routines.  Consider the following variant of your program:
[code]
That program prints -294967296, which is not what the programmer intended.

[2019-03-17 02:26] #2366 closed

[2019-03-17 10:44] Maxi17 opened #2367 "Casting a hexadecimal literal with MSB set to a byte"
Consider this snippet:

[code]

Running javac -processor index Issue2367.java produces a warning:
[code]
Normally, this shouldn't be a problem, as the value 0x8B is 8 bits long (10001011), so the cast shouldn't issue any warning. I think this happens because 0x8B is a negative value when taken as a byte and positive when taken as an int, so the checker believes there is something wrong. There is n

[2019-03-19 16:35] kelloggm opened #2370 "Another asSuperVisitor crash"
I believe I've encountered another issue with `asSuperVisitor`, with superficial similarities to those fixed in #2193. However, this crash occurs on the current master version of the framework.

Consider the following test case:

[code]

When running any typechecker (tested with the Value Checker and Nullness Checker) on this file, a crash occurs in `asSuperVisitor`. The command to run is `> check

[2019-03-19 16:37] martinschaef commented on #2370
Thx @kelloggm for filing this. We ran into this on two occasions, and it is likely to happen more frequently, since we make heavy use of streams.

[2019-03-19 17:50] smillst opened #2371 "Crash: recursive type instantiated with wildcard."
Test case `framework/tests/all-systems/Issue2371.java`
[code]
The above code causes the following crash:
[code]

[2019-03-19 20:18] michaelhixson opened #2373 "Dataflow support for switch expressions"
I am trying to use [switch expressions](http://openjdk.java.net/jeps/325), which is a new [preview feature](http://openjdk.java.net/jeps/12) in Java 12.  My application depends on [NullAway](https://github.com/uber/NullAway), which is a compiler plugin that depends on the Checker Framework's dataflow library.  When I try to compile code that includes a switch expression, NullAway propagates an exc

[2019-03-19 20:24] lazaroclapp commented on #2373
Note that both Checker Framework _and_ NullAway are missing support for switch expressions. But adding the later in a clean way would be much easier after having the former :)

[2019-03-19 22:01] smillst commented on #2370
The fixes in https://github.com/typetools/checker-framework/pull/2193 were not correct.  I've reverted some of those changes and added the correct fixes in PR #2374.  Those fixes also fix this crash.

FYI, "AsSuper" crashes like this one mean that a caller to asSuper is violating asSupers preconditions.  (Namely that the underlying java types passed to supertype is a supertype of some type.)  So a

[2019-03-20 16:06] Ambeco opened #2375 "class file for java.util.regex.Pattern$HorizWS not found"
When I compile my Android Studio project with gradle (gradlew build :androidui:compileDebugJavaWithJavac), one of my many modules consistently fails with the message:
error: SourceChecker.typeProcessingStart: unexpected Throwable (CompletionFailure); message: class file for java.util.regex.Pattern$HorizWS not found
  Exception: com.sun.tools.javac.code.Symbol$CompletionFailure: class file for java

[2019-03-20 19:32] #2370 closed

[2019-03-20 19:32] #2371 closed

[2019-03-20 22:05] wmdietl commented on #2373
Thanks for reporting this issue!
The Checker Framework currently builds on a Java 8 javac and we have a version that mostly works with javac 9 to 11.
Java 12 is the first in a while that added a new AST node, right? I'm not sure what the best way is to add support for such Java 12 AST nodes while being usable with an older compiler that doesn't have it.
error-prone similarly currently works with J

[2019-03-20 22:21] lazaroclapp commented on #2373
@msridhar for the more authoritative answer. AFAIK, we are focusing on Java 8 for our internal codebase (at Uber), and intend to remain compatible with that version for the foreseeable future, but we are also trying to support Java 12 for pure Java projects.

[2019-03-20 23:01] michaelhixson commented on #2373
There is an issue tracking Java 12+ compatibility issues here: https://github.com/google/error-prone/issues/1106

It looks like external contributors figured out fixes for most/all of the issues.  I don't know if Google plans to merge any of those fixes.

For what it's worth, as a user of Error Prone, when I upgraded my application to Java 12 I only had to disable one exception-throwing bug patter

[2019-03-21 03:02] msridhar commented on #2373
Core NullAway works fine (AFAIK) on Java 11.  If supporting Java 12 is not a huge burden, and it doesn't break backward compatibility, we'd be happy to do it.  I haven't thought carefully through what it takes to support the `switch` expression on the NullAway side, but at a high level it seems like a fancier conditional expression so it shouldn't be too hard?  As it seems now, the trickiest chang

[2019-03-21 21:28] aagarwal1012 commented on #2375
@Ambeco, can you tell which `Android Studio version` and `Gradle plugin version` you are using?
Recently, I had worked with Android Studio version `3.3` and Gradle plugin version `4.10.1` and added checker framework dependency for an android library according to instructions provided in the [manual](https://checkerframework.org/manual/#android-gradle) and my module's Gradle file is below:
[code]
I

[2019-03-22 03:40] Ambeco commented on #2375
Android Studio 3.3.2, gradle version 4.10.1.

With some testing, I discovered that if I comment out the -Xbootclasspath line, then the code compiles and the null checker appears to be catching errors, but produces a warning:

You do not seem to be using the distributed annotated JDK.  To fix the problem, supply javac an argument like:  -Xbootclasspath/p:.../checker/dist/ .  Currently using: jdk8.j

[2019-03-22 21:54] mernst commented on #2375
There is a [discussion in the manual](https://checkerframework.org/manual/#common-problems-running) that starts:

Could you pleas try its suggestions and let us know the result?

Thanks.

[2019-03-22 22:17] mernst commented on #2367
I committed a test case as `framework/tests/value/Issue2367.java`.

Run it like this:
```checker/bin/javac -processor org.checkerframework.common.value.ValueChecker framework/tests/value/Issue2367.java```

[2019-03-22 23:29] mernst commented on #2367
Consider the following example.
[code]

(We need the `(byte)` cast because otherwise javac issues an error.

A warning is desirable for the first line, because it changes a value from 139 to -117.  This warning is analogous to the javac error that the cast suppressed.
The second example is identical Java (the same bytecode is generated).  Your feature request is to not issue any warning, based on

[2019-03-22 23:29] #2367 closed

[2019-03-23 15:44] mernst commented on #2334
This is expected behavior.
The method `println` can call user-defined `toString()` methods, and those `toString()` methods might have arbitrary side effects.

In this particular case, those side effects cannot modify the arguments, because they are all immutable values (integers and strings) held in local variables.
I will open a pull request to handle that case.

[2019-03-25 01:02] patrickmeiring opened #2385 "Regression: Unable to type check code with Qualifiers parameterised by a dot (".")"
The fix to #2186 has broken my custom checker which uses qualifiers with string arguments containing dots. For example, the following code fails to type-check due to an exception:
[code]

The stack trace is:

[code]

The root cause appears to be the logic in org.checkerframework.framework.type.AnnotatedTypeFactory.getExplicitAnnotationsOnNewClassTree(), which was introduced by #2186:

[code]

Step

[2019-03-25 15:22] smillst commented on #2385
Thanks for the report!  I'm working on the `getExplicitAnnotationsOnNewClassTree` method, so that will fix this problem.

[2019-03-28 09:49] aprantl commented on #1224
What are you thinking about the beta release? We had to deactivate our checker-framework related validation tasks because it does not work with Java 11. We would use the beta just to turn on the validation again.

[2019-03-28 12:21] wmdietl commented on #1224
Sorry about the delay on this. I'll try to get to #2294 and then I can make a release of the `framework` artifact from https://github.com/eisop/checker-framework
The Nullness Checker and the other checkers that use the annotated JDK are still blocked on finding an alternative format, see https://github.com/typetools/checker-framework/issues/1224#issuecomment-443877749 .

[2019-03-28 18:13] #2334 closed

[2019-03-28 19:20] smillst commented on #2223
You should use `  protected void addComputedTypeAnnotations(Tree tree, AnnotatedTypeMirror type, boolean iUseFlow) {` instead for local variables.

[2019-03-28 19:24] mernst commented on #2244
I'm sorry you are having this problem.
javac is crashing while trying to look up the @InvisibleQualifier meta-annotation on some annotation.
I'm not sure which one, but likely one of the ones you supplied via command-line arguments.  You could find out by printing local variable annoElement at this line:
https://github.com/typetools/checker-framework/blob/master/framework/src/main/java/org/checker

[2019-03-29 16:09] wmdietl opened #2391 "Rename `TreeUtils.isSuperCall` and `TreeUtils.isThisCall`"
Both are only about super/this constructor invocations, which isn't clear from the method name.
Pick bettern names and refactor the code.

[2019-03-30 22:22] mikeb01 commented on #2244
The thing that makes this tricky is that it works perfectly if I limit the build to a single thread.  There seems to be something the annotation resolution that does not appear to be thread safe.  I'm not sure if it is in the checker framework or the Javac library.  Running it multiple times shows the error occur in different seemingly random) places.

We've worked around this for now (pulled chec

[2019-03-31 00:55] mernst commented on #2244
Thanks for the update.

The crash is in javac, which makes me suspect it, but the problem could be in the Checker Framework too.

When you get back to this, please let us know how we can help you.

[2019-03-31 22:56] #2385 closed

[2019-03-31 22:56] #2230 closed

[2019-03-31 22:56] #2324 closed

[2019-03-31 22:56] #2330 closed

[2019-03-31 22:56] #2353 closed

[2019-04-01 16:47] smillst commented on #1771
It's possible that https://github.com/javaparser/javaparser/commit/356ae8dcc930e7ff6e418c30f49c922c08279786 fixed this issue.  I haven't tested it, though.

[2019-04-01 21:28] Kakarot-SSJ4 opened #2396 "Improvement of error messages in [type.invalid.conflicting.annos] error"
Consider the following code:

`import org.checkerframework.common.value.qual.*;
import org.checkerframework.checker.index.qual.*;

class ltlength{
    public void check(int[] data, `@IndexFor`("#1") `@LTLengthOf`(value = {"#1"}, offset = {"1"}) int offset){

    }
}`

Run it by typing in the terminal:
javac -processor org.checkerframework.checker.index.IndexChecker ltlength.java

Output:
ltlength.

[2019-04-01 21:53] kelloggm commented on #2396
This seems like a generic problem with any kind of aliased annotation.

What do you suggest we do to solve it? `@IndexFor` does appear in the error message, though I agree that the message is somewhat confusing.

[2019-04-02 17:57] Kakarot-SSJ4 commented on #2396
A better error message would be to first state what annotations are conflicting as written in the code,
then the interpretation by the compiler separately. The distinction would enable the programmer to identify the error better.

[2019-04-02 19:39] Maxi17 opened #2398 "IndexChecker false [array.access.unsafe.high] error"
Consider this snippet:

[code]

Running javac -processor org.checkerframework.checker.index.IndexChecker Testing.java should issue 2 errors:

[code]

[code]

The code is safe because we never get to access 'array' with an invalid index. The if statements before make sure that the index is within bounds.
Comparing the behavior of the first two methods, it looks like the checker can't see that the l

[2019-04-02 20:34] Maxi17 opened #2399 "@LessThan() false error on bitwise operations"
Consider this snippet:

[code]

Running javac -processor org.checkerframework.checker.index.IndexChecker Testing.java should issue two errors:

[code]

[code]

The first error tells that the checker doesn't know that 'firstNumber & 7' is less than 'firstNumber' (or equal). Note that for non-negative numbers, (number & 7) is the same as (number % 8). Changing @IntRange(from = 0, to = 63) ---> @IntR

[2019-04-02 21:59] kelloggm opened #2401 "Support Gradle incremental compilation"
Since Gradle 4.7, Gradle has supported incremental compilation in the presence of annotation processors. The feature is opt-in on an annotation processor-by-annotation processor basis, however. I don't think the Checker Framework has "opted-in", but we should. (Or maybe we have and I didn't know!)

See the documentation here: https://docs.gradle.org/current/userguide/java_plugin.html#sec:increment

[2019-04-04 16:59] aagarwal1012 opened #2406 "Build failed in Intellij"
The following error I got after building the project for `Nullness` checker in `Intellij IDEA, Windows 10 64-bit`
[code]
Steps to produce the above error follows:
1. Set the language level for your project to 8.
2. Add the Checker Framework libraries in the“Project Structure” menu, navigate to the “Libraries” sub-menu.
3. Add the annotated JDK library using the following method. Go to the “Setting

[2019-04-04 17:40] aagarwal1012 opened #2407 "Unexpected FlowExpression error"
I got the `Unexpected FlowExpression` error while running the following code:
[**Link**](http://eisop.uwaterloo.ca/live/#mode=display&code=import+org.checkerframework.checker.nullness.qual.Nullable%3B%0Aimport+org.checkerframework.checker.nullness.qual.NonNull%3B%0Aimport+org.checkerframework.checker.nullness.qual.RequiresNonNull%3B%0Aclass+A+%7B%0A++%0A++%40NonNull+String+message+%3D+%22default+s

[2019-04-04 17:59] aagarwal1012 opened #2408 "Contracts.Precondition.Not.Satisfied error"
I got the `contracts.precondition.not.satisfied` error while running the following code:
**[Link](http://eisop.uwaterloo.ca/live/#mode=display&code=import+org.checkerframework.checker.nullness.qual.Nullable%3B%0Aimport+org.checkerframework.checker.nullness.qual.NonNull%3B%0Aimport+org.checkerframework.checker.nullness.qual.RequiresNonNull%3B%0Aclass+A+%7B%0A++%0A++%40NonNull+String+message+%3D+%22

[2019-04-04 18:16] mernst commented on #2401
The Checker Framework is heavily dependent on OpenJDK internals.  It uses javac APIs and casts to javac types.  This bodes ill for us.

Can you look into what a "fallback mechanism" is, and whether we can use one?

[2019-04-04 18:23] mernst commented on #2375
I'm closing this because we didn't hear back with more details or with an attempt to follow the instructions.  From the class name which appears only in JDK 9, the original poster was probably using JDK9.

If someone has more information, we can re-open this.

[2019-04-04 18:23] #2375 closed

[2019-04-04 18:25] #2223 closed

[2019-04-04 21:26] wmdietl commented on #2407
Thanks for the test case!
Somewhat simplified:

[code]

We should discuss whether pre-condition annotations should ever be allowed to use only parameter flow expressions. It would be more ideomatic to simply add the corresponding type annotation on the parameter.
However, such a crash shouldn't happen.

[2019-04-05 08:52] Kakarot-SSJ4 opened #2409 "Do not show offset parameter in the error message when there is no offset"
Consider the following code:
`class errmsg{
    public void abc(String a)
    {
        int x = a.length();
        char z;
        for(int i = 0; i < x; i++)
            z = a.charAt(i + 1);
    }
}`

Run it by typing in the terminal:
javac -processor org.checkerframework.checker.index.IndexChecker errmsg.java

Output:
errmsg.java:7: error: [argument.type.incompatible] incompatible types in argum

[2019-04-05 13:20] vikasdo opened #2410 "Assigment to a nullable with monotonic non null"
Every possibly-nullable assignment to a @MonotonicNonNull field is prohibited.
However, such an assignment should be permitted, as the first assignment in a constructor.
For example, the Nullness Checker currently rejects the below code, but it should be permitted
so I have changed
public class InitializeMonotonicNonNull {
  @MonotonicNonNull Object f;
  InitializeMonotonicNonNull( @Nullable Objec

[2019-04-05 18:54] aagarwal1012 commented on #2410
@vikasdo, I think you should really need to refer to the discussion [https://groups.google.com/forum/#!topic/checker-framework-gsoc/XgDkBUkNhhQ](https://groups.google.com/forum/#!topic/checker-framework-gsoc/XgDkBUkNhhQ).

[2019-04-09 15:52] raduklb opened #2415 "Nullness Checker: error message when static field is not initialized"
Hello,

Consider the following code:
[code]

Running `javac -g Game.java -processor nullness` issues:

which means that the problem occurs with static fields but not instance fields.

This [[CommandOutput.txt](https://github.com/typetools/checker-framework/files/3059811/CommandOutput.txt)] is the output when `javac -version -verbose -AprintAllQualifiers -g Game.java -processor nullness` command is

[2019-04-09 19:18] mernst commented on #2415
I think the bug here is how the error is reported, which is unnecessarily confusing.

The given code is wrong, so it is good that the Nullness Checker issues a warning.  For example, the following program prints "null":

[code]

The warning message should indicate that the problem is with the static initializer for the class, not the constructor per se.  There is a hint in that the warning message

[2019-04-11 08:43] Kakarot-SSJ4 opened #2420 "Wrong inference of annotation by boolean comparison"
Consider the code below:
[code]

Run it by typing in the terminal:
javac -processor org.checkerframework.checker.index.IndexChecker errmsg.java

Output:
[code]

The error message suggests that argument of the charAt() function is less than BOTH ("abc".length() + 2) and (argStr.length() + 2), but clearly, it is not necessary.
`argStr == "abc"` is a boolean comparison and not assignment, so the chec

[2019-04-11 12:22] shuehner opened #2421 "local String constant considered @Untained by default, but one from different class is @Tainted by default ?"
Using TaintingChecker (i.e. latest 2.8.0) by default it considers local String constant as @Untainted but referencing a String constant from different class as @Tainted.

See those 2 gists for compilable testcase:
https://gist.github.com/shuehner/7ea61522e39e55ebaa22acf4bf80ad57
https://gist.github.com/shuehner/6ce2e26705fbcf35ea25c1e0affe537c

Output:
[jsr308.javac]   found   : @Tainted Object
[j

[2019-04-11 12:29] shuehner opened #2422 "TaintedChecker false positive with Vector<Object> and .copyInto"
Using TaintingChecker (i.e. 2.8.0) on code below reports a false positive for the copyInto call.

https://gist.github.com/shuehner/de4a2d6a551fceb60e10a5d279508272

[jsr308.javac] /home/huehner/ob/branches/pi_checker_pg/src/SHUTest1.java:8: error: [vector.copyinto.type.incompatible] incompatible component type in Vector.copyinto.
[jsr308.javac]          vector.copyInto(objectListData);
[jsr308.jav

[2019-04-11 13:20] wmdietl commented on #2421
Please see the discussion at https://checkerframework.org/manual/#faq-infer-fields
The Checker Framework cannot determine whether a field in a different compilation unit was initialized with a constant.

[2019-04-11 13:33] wmdietl commented on #660
#2413 probably also fixed this, but the `TaintingDiamondInference.java` test produces some `cast.unsafe.constructor.invocation` warnings.

[2019-04-11 13:36] wmdietl commented on #2422
This is the intended behavior, but it needs to be documented in the manual.
The motivation is documented in https://github.com/typetools/checker-framework/blob/master/framework/src/main/java/org/checkerframework/common/basetype/BaseTypeVisitor.java#L1464:

[code]

I don't think this is related to #104 or #660.

[2019-04-11 13:45] wmdietl commented on #2422
This is related to invariant arrays, as discussed here: https://checkerframework.org/manual/#invariant-arrays
Maybe this conservative behavior for `copyInto` should also be guarded by `-AinvariantArrays`.

[2019-04-11 16:56] smillst commented on #2420
The error you're reporting doesn't match the code provided, would you please provide the correct code?  Also, see https://help.github.com/en/articles/basic-writing-and-formatting-syntax#quoting-code for an explanation on how to properly code blocks.

[2019-04-11 17:06] smillst commented on #2410
This is a verbatim duplicate of https://github.com/typetools/checker-framework/issues/2215.

[2019-04-11 17:06] #2410 closed

[2019-04-11 18:30] mernst commented on #2408
You are right that this is an inconsistency between treatment of the two types of annotations.  Thanks for noticing this.  This is due to details of the implementation and is unlikely to be fixed in the short term.

In the short term, we can make the Checker Framework issue a warning (not an error) if the user writes `@Requires*` whose argument is exactly a formal parameter name such as "this" or

[2019-04-11 18:43] mernst commented on #2409
Thanks for submitting this; I agree.
This should be a fairly simple fix in `AnnotationFormatter`.

[2019-04-11 19:57] Kakarot-SSJ4 commented on #2420
I am really sorry for the negligence, I have updated the issue now.

[2019-04-11 20:00] smillst commented on #2420
argStr == "abc" is a boolean comparison and not assignment, so the checker should not infer @LTEqLengthOf("abc")

This text does not match the code.

[2019-04-11 20:19] Kakarot-SSJ4 commented on #2420
I'm sorry for the inconvenience caused, I believe I have corrected it now.

[2019-04-11 21:00] #2415 closed

[2019-04-11 21:22] #660 closed

[2019-04-11 21:26] smillst commented on #2420
Thanks for the bug report.  This is indeed a bug.  I've fixed it in PR #2427.

[2019-04-11 21:38] smillst commented on #2240
Fixed via https://github.com/typetools/checker-framework/commit/dcbc3969d6dadaf8978f94ae14d8c7e086613b85. (https://github.com/typetools/checker-framework/pull/2241)

[2019-04-11 21:38] #2240 closed

[2019-04-11 23:07] smillst commented on #2399
The LessThan Checker is very simple and is only intended to support the Index Checker.  This is one way it could be improved.

[2019-04-12 02:22] mernst commented on #2244
I'm going to close this for now -- not because it isn't important, but because we cannot make progress on it without reproducing it.  As soon as we have more information about what is happening, we would be happy to fix it.  Thanks in advance to anyone who can provide more information.

[2019-04-12 02:22] #2244 closed

[2019-04-12 02:33] mernst commented on #2060
I'm closing this for now because there has been no discussion about the results after my suggestions.
We can re-open it if the problem persists and there is new information.

[2019-04-12 02:33] #2060 closed

[2019-04-12 15:26] #2420 closed

[2019-04-12 16:07] mernst commented on #2421
I'm going to close this since I think the manual section answers the question.
If you have other questions or suggestions, please let us know.

[2019-04-12 16:07] #2421 closed

[2019-04-12 17:23] #2030 closed

[2019-04-14 12:33] the1derer commented on #2216
@mernst Is anyone working on this?
If not I would like to solve this issue as this will greatly help in solving classes with no Constructor and only getter and setter method without having to use ``@RequiresNonNull`` which can cause contracts.precondition errors.
Can you give me any additional information which would help in solving this.

[2019-04-14 16:01] rgoldberg commented on #1224
Do you have an ETA for this?

Will there be any limitations for the initial rollout of this?  (e.g., Nullness, Lock, & Index Checkers not working)

If Nullness, Lock, & Index Checkers (or any other optional functionality) are holding this back, could you release a version (possibly an alpha or beta) that works on Java 9 for most functionality, and support the optional functionality later?

What Ja

[2019-04-14 18:08] wmdietl commented on #2216
What is the motivation for allowing `@MonotonicNonNull` on a return type?
Isn't it always equivalent to making the return type `@Nullable`?
It would help to describe the updates to the documentation of the qualifier to understand what the proposed semantics are. At the moment it focuses only on fields (and sometimes variables) but doesn't mention return types.
Instead of `@MonotonicNonNull` for re

[2019-04-14 21:22] Pr0methean commented on #1224
Supporting JDK 11 will greatly expand the pool of potential beta testers. JDK 9 and 10 account for only about 1 in 9 Docker downloads, and less than 1 in 700 standalone downloads, at AdoptOpenJDK (one of the few trusted sources that even builds those versions anymore).

[2019-04-15 15:26] mernst commented on #2216
Not for `@Pure` methods.  Yes, for non-pure methods.

[2019-04-15 15:28] mernst commented on #2216
If no one is assigned to it, then no one is working on it.

I can't answer this question without knowing what you have tried so far or what your specific questions are.

[2019-04-15 18:03] wmdietlGC opened #2429 "Interaction between @PolyNull and method type argument inference"
Take:

[code]

The signature of `Transform::transform` ensures that the nullness of the parameter and return type are equal, ignoring the nullness on the type arguments.
Functions `map` and `then` have signatures similar to many streaming APIs.

Running the Nullness Checker gives:

[code]

Note that the error is only raised for the method reference.
The equivalent use of a lambda doesn't raise thi

[2019-04-19 00:06] wmdietlGC opened #2432 "@Poly* in type argument position"
Take the following Nullness Checker example that uses `@PolyNull` in a type argument:

[code]

This correctly allows both calls of `foo`, but does not raise an error for `l.add(null)`.
As this could be executed on the non-null list, adding `null` must be forbidden as it could lead to an NPE.

If the signature of `foo` is changed to `List<? extends @Nullable Object>` the addition of `null` is corre

[2019-04-19 04:01] mernst opened #2433 "Annotating the receiver"
Java does not permit the receiver (the `this` formal parameter) to be written explicitly on a method in an anonymous class.  Therefore, it is not possible to write an annotation on it.

However, it is sometimes necessary to write an annotation on the (inexpressible) receiver.

I propose that the following two syntaxes should have identical effect:

[code]

Work can occur in the `receiver-annotatio

[2019-04-20 16:24] Kakarot-SSJ4 opened #2434 "SameLen property should be inferred on both variables"
Consider the following code:
`import org.checkerframework.checker.index.qual.*;`
`class checkerr{`
`public void abc(String x, @SameLen("#1") String y){`
`}`
`public void err(@SameLen("#2") String a, String b){`
`abc(a,b);`
`}`
`}`
Run it by typing in the terminal:
javac -processor org.checkerframework.checker.index.IndexChecker checkerr.java

Output:
checkerr.java:6: error: [argument.type.incompat

[2019-04-20 17:07] wmdietl commented on #2373
Update on this: adapting the CFG construction itself shouldn't be too hard, but it requires depending on the new `jdk.compiler/com.sun.source.util.TreeScanner.visitSwitchExpression(TreeScanner.java:354)` visit method and corresponding `SwitchExpressionTree`.
I don't see a simple way to keep compatible with Java < 12 and at the same time supporting this preview feature.
Any suggestions?

Removing t

[2019-04-20 22:51] mernst commented on #2434
Thanks for noticing this bug!

Here is an expanded test case, which I have committed to the repository:

[code]

and here is the ouput:

[code]

Notice the surprising fact that `m2` fails but `m3` succeeds, although `m3` has merely added an irrelevant, usused assignment.  The reason is that at assignments, the SameLen Checker merges annotations:  it gives both the left-hand side and the right-hand

[2019-04-21 21:58] cushon opened #2446 "AsSuperVisitor: type is not an erased subtype of supertype 21"
[code]

[code]

[2019-04-22 09:16] Maxi17 opened #2447 "IndexChecker is unsound in methods that mutate one parameter"
Consider the following code:

[code]
Run javac -processor index Testing.java.
The checker will issue 3 errors:

[code]

[code]

[code]

It looks like the checker is unsound when a method that mutates an annotated parameter is called.

[2019-04-22 13:35] wmdietl commented on #2447
Could this be related to covariant arrays, which the Checker Framework unsoundly allows by default?
https://checkerframework.org/manual/#invariant-arrays

What happens when you invoke the compiler with `-AinvariantArrays`?
I would assume that you would then also get an error about the `testingNonNegative(number)` invocation.

Method `testExpandingArray` is just re-assigning a parameter. That has n

[2019-04-22 13:41] olegshtch opened #2448 "Cann't define Nullness for generic class argument"
I'm trying to use xnio Option with `@Nullable` annotation but cann't provide `Class<@Nullable String>` object as function argument:

M.java:
[code]

Command to run:
[code]

Error:
[code]

[2019-04-22 17:45] smillst commented on #2448
This is a false positive because the type argument to Class is covariant.  Currently type argument inference treats covariant generics the same as other generics.  This should be fixed by #979.  In the meantime, I would expect adding `@Nullable` to Class's type argument in `get` would fix the warning:

[code]

But it is still issued.

[2019-04-22 17:53] smillst commented on #2432
This is a general problem.  The follow code should issue a warning, but doesn't:
[code]

[2019-04-22 21:51] mernst opened #2451 "Rename `QualifierPolymorphism.annotate` to `resolve`"
This will bring the method name in line with its documentation.

[2019-04-23 20:53] Kakarot-SSJ4 opened #2452 "Index Checker does not infer length properties attained by Array.getLength()"
Consider the following code:
[code]
Run it by typing in the terminal:
javac -processor org.checkerframework.checker.index.IndexChecker checkerr.java

Output:
[code]

Now if we replace `if (Array.getLength(a) > 0)` by `if (a.length > 0)`, the code runs just fine.
The checker should infer the same properties as `a.length` by `Array.getLength()` as well.

[2019-04-25 14:19] #2446 closed

[2019-04-25 19:56] mernst opened #2457 "Rename signedness.qual.Constant to SignednessEither"
Rename the Signedness Checker's `@Constant` annotation to `@SignednessEither`.

[2019-04-26 09:07] olegshtch opened #2460 "Allow to return null in BiFunction argument of Map.compute"
Next code doesn't compile:

[code]

While javadoc https://docs.oracle.com/javase/8/docs/api/java/util/Map.html#compute-K-java.util.function.BiFunction- says BiFunction could return `null` to remove entry from map.

jdk1.8.0_202, checkerfamework 2.5.7

[2019-04-26 12:47] wmdietl commented on #2460
The following modification of your example passes the Nullness Checker:

[code]

Note that now the declaration of `storage` makes explicit that the Set can be null.
This then also forces you to account for a null set before trying to remove the value.

Is this what you want? If so, I think all the APIs are correctly annotated to allow this use.

[2019-04-26 13:56] olegshtch commented on #2460
I don't want to store `null`s in a `Map`. I want to remove entry if I return `null` in `BiFunction`.

[2019-04-26 13:58] olegshtch commented on #2460
I've added astub file which fixes it to my project:
[code]

[2019-04-26 14:29] wmdietl commented on #2460
Ah, sorry, I misunderstood.
Using `@Nullable ? extends @Nullable V` seems overly restrictive, as it now requires a method that returns `null`. Whouldn't simply `? extends @Nullable V` allow your use case and allow a function that has a `@NonNull Value` return type?

[2019-04-26 14:45] olegshtch commented on #2460
I've just tested it. `? extends @Nullable V` works as well.

[2019-04-26 14:54] wmdietl commented on #2460
Thanks for confirming!
Would you be willing to add your stub annotations to https://github.com/typetools/checker-framework/blob/master/checker/jdk/nullness/src/java/util/Map.java in a pull request?

[2019-04-26 15:50] msridhar opened #2462 "Some source code missing from the 2.8.0 source jar"
The source jar on Maven Central for release 2.8.0 (https://repo1.maven.org/maven2/org/checkerframework/checker/2.8.0/checker-2.8.0-sources.jar) is missing source for some classes.  E.g., there is no code for `org.checkerframework.common.basetype.BaseAnnotatedTypeFactory`.  This complicates debugging of dependent projects, source browsing, etc.  It seems that only the code under `org.checkerframewo

[2019-04-26 15:57] smillst commented on #2462
Thanks for the report!  I'll fix this for the May release.

[2019-04-26 18:33] olegshtch commented on #2460
@wmdietl Done!

[2019-04-26 20:04] #2407 closed

[2019-04-26 21:49] msridhar opened #2465 "Checking of @EnsuresNonNull / @RequiresNonNull varies with use of fluent API"
I am getting some unexpected results using `@EnsuresNonNull` / `@RequiresNonNull` with a fluent API.  This is with Checker Framework 2.8.0.  Consider the following example:
[code]
I would expect this code to typecheck with no errors.  However, when running Nullness Checker I get the following error inside `fluent1()`:
[code]
Adding an `@Pure` annotation to `setS()` does not fix the problem.  Also,

[2019-04-26 22:24] smillst commented on #2465
The precondition `@EnsuresNonNull("this.s")` says nothing about the nullness of the returned object's field `s`.  So, I would expect both `fluent1` and `fluent2` to issue errors.
I'm not sure why `fluent2` type checks.   The following additional method also does not issue an error:
[code]
So, I think there's some sort of bug with constructors and pre/postconditions.

 If you change the preconditio

[2019-04-26 22:25] wmdietl commented on #2465
One thing that the specification of `setS` doesn't say is that the returned `Example` object is the same as `this`.
The post-condition only says that `this.s` will be non-null, it doesn't say anything about what object it returns.

In `withVars` we substitute `example` for `this` and everything is ok.

In neither of the fluid uses do we actually know that the object returned from `setS` has the fi

[2019-04-26 23:11] msridhar commented on #2465
Thanks for the quick feedback @smillst and @wmdietl!  So it looks like there are two separate issues here.  One is that there is a bug with constructors and pre/post-conditions.  The other is that the Nullness Checker currently doesn't have a way to write `@EnsuresNonNull("return.s")`, so we can't express the right post-condition for `setS()`.  Should I open another issue then?  Maybe we can keep

[2019-04-28 01:50] #2460 closed

[2019-04-29 00:04] mernst opened #2468 "Better warning about uninitialized static fields"
Revert 632849504a1af71eca3b0fb3c48cde1ebbfcda30

[2019-04-29 17:26] #2462 closed

[2019-04-29 19:28] Maxi17 commented on #2447
Yes, invoking the compiler with `-AinvariantArrays` issues the expected error on this call: `testingArraysFill(numbers, 4);`

The error on `testingNonNegative(number)` is not issued with `-AinvariantArrays`.

[2019-04-29 20:18] wmdietl commented on #2447
Why do you expect an error for `testingNonNegative(number)`?
Primitives are copied by value. The implementation only sets the value visible within that method to -1, which is within the declared parameter range.
So similarly to `testExpandingArray` I don't see a problem here, as these calls have no effect on the callers.

[2019-04-29 21:51] Maxi17 commented on #2447
I think I was a bit confused. The method call `testingNonNegative(number)` is not expected to issue any error. The third and fourth methods in my test case were flawed. But you pointed out:

This made me unsure. Now it is clear. Thank you for the explanation.

[2019-04-30 03:37] wmdietl commented on #2447
Ah, sorry, I mixed up the different test cases.
I think all issues are clarified now. Please re-open if I missed an action item.
Thanks for reporting these.

[2019-04-30 03:37] #2447 closed

[2019-04-30 20:07] smillst commented on #2406
The instructions in the manual leave out adding checker-qual.jar as a dependency to your project.  You can do that many different ways.  One way is to add [a library](https://www.jetbrains.com/help/idea/library.html#define-library) and then [add that library as a module dependency](https://www.jetbrains.com/help/idea/library.html#add-library-to-module-dependencies).  I'll update the instructions i

[2019-04-30 20:11] smillst opened #2469 "Exception when checker-qual.jar isn't on the classpath"
If `checker-qual.jar` isn't on the classpath an exception is thrown related to aliased annotations.
[code]

produces:

[code]

[2019-04-30 20:16] aagarwal1012 commented on #2406
@smillst, thanks for the update.

[2019-04-30 21:27] msridhar commented on #2465
Nothing urgent, but @smillst @wmdietl let me know if you want me to refocus this issue on the unsoundness, which is likely a more urgent issue than support for fluent APIs.

[2019-04-30 22:51] wmdietl commented on #2465
I would suggest opening a new issue that just focusses on the unsoundness you identified.
This issue can contain the longer discussion relevant for the fluent API improvements.

[2019-05-01 03:24] msridhar opened #2470 "Nullness Checker unsoundness with pre/post-conditions and constructor calls"
Forking off this sub-issue from #2465.  Input:

[code]
The above code should have a type error in `buggy()` since the `@RequiresNonNull` pre-condition is not satisfied.  But, it passes the Nullness Checker without error.

[2019-05-01 03:25] msridhar commented on #2465
Sure thing, opened #2470

[2019-05-01 13:48] the1derer commented on #2216
Take the following example:
[code]
Command
``javacheck -processor nullness FILENAME.java``
Here I am receiving following error
[code]
I can't annotate getName() of A as there can be no field ``name``.So, In this case having return type ``@MonotonicNonNull`` could be helpful.

[2019-05-02 03:20] wmdietl commented on #1224
I made a release of artifacts that should work with Java 9 to 12:
https://search.maven.org/search?q=io.github.eisop
(Once it syncs to Maven Central...)

Sources for this version continue to be at https://github.com/eisop/checker-framework

The Java 12 preview switch expressions are not supported, tracked at #2373 .
The release adds a new `framework-all` artifact, which should contain everything ne

[2019-05-02 19:15] smillst commented on #2406
Also, the framework shouldn't crash when checker-qual.jar isn't on the classpath.  I've created a separate issue, https://github.com/typetools/checker-framework/issues/2469, to track that bug.

[2019-05-03 15:24] #2406 closed

[2019-05-03 16:57] the1derer commented on #2215
Hey @mernst I would like to work on this.I came across similar problem during my Case Study of slf4j in following code-type:
[code]
Can you help me in getting started, like which files to look at ?
Thanks.

[2019-05-03 23:02] the1derer opened #2477 "Remove [contracts.precondition.override.invalid] warnings while Overriding method of Interfaces"
Consider the following code:
[code]
Command:
``javacheck -processor nullness FILENAME.java``

This generated the following errors:
[code]
As there is no way to annotate methods of Interface with ``@RequiresNonNull``, So this type of situation should be exempted from ``[contracts.precondition.override.invalid]``

[2019-05-03 23:36] jwaataja opened #2478 "Treat polymorphic types more precisely for classes with upper bound"
Consider a class with an `@Untainted` upper bound. All instances of this class are guaranteed to be `@Untainted`. Thus, if we have an instance of `@PolyTainted MyClass`, we actually know that it will be `@Untainted`. Consider this class that uses `@PolyTainted`,

[code]

When I run the tainting checker `javac -processor TaintingChecker MyClass.java`, one of the errors I get is

[code]

The call to

[2019-05-04 06:37] the1derer opened #2479 "@EnsuresQualifier / @EnsuresNonull should apply only to Class fields"
In the following example:
[code]
Using Nullness Checker I am receiving the warning:
[code]
If I replace ``@EnsuresNonNull("field1")`` by ``@EnsuresNonNull("this.field1")`` the check is passed.
But the warning should not be given in first place as ``@EnsuresNonNull`` should only be applied to fields.

[2019-05-04 12:24] #2479 closed

[2019-05-05 21:37] kenzierocks opened #2480 "CFTreeBuilder doesn't handle TypeKind.INTERSECTION"
CFTreeBuilder throws (with assertions enabled) an error trying to process an intersection type: https://gist.github.com/kenzierocks/8fc44d45c17e7b453567315a96072a6f

Reproducible test code: https://gist.github.com/kenzierocks/c56f1cb50f3d84194e9b6f78f1c06c00

[2019-05-06 00:21] mernst commented on #2477
The warning you showed is demonstrating a flaw in the design of `A`.  We would not want to disable such warnings.

The design flaw is that `A` is not a behavioral subtype of `TestInterface`, even though `A` is a Java subtype of `TestInterface`.
Behavioral subtyping states that a subtype must not impose stronger constraints than a supertype.
`TestInterface` states that `getField1` always returns a

[2019-05-06 00:21] #2477 closed

[2019-05-07 01:12] wmdietl commented on #2480
Thanks for the bug report!
For easier reference, a slightly minimized version is:

[code]

[2019-05-10 09:10] ahubold commented on #1224
I tried the io.github.eisop:*:3.0.0-b1 release with Java 11 but ran into some issues and did not get it to work with our custom checker.

The Maven POMs have some errors in their dependencies, which I could work around:
1. framework-all does not contain/depend on everything that is needed for a custom checker. I had to manuall add a dependency to io.github.eisop:javacutil so that org.checkerframew

[2019-05-12 22:16] gokaco opened #2482 "Compound assignment expression producing error using signedness checker"
Consider the following code:-

Command-
[code]
Code-
[code]
Output:-
[code]
Ordinary assignments succeed, whereas compound assignments do not.

[2019-05-12 22:45] gokaco opened #2483 "Length cannot be stored as unsigned"
This error has come repeatedly in case studies where length was used as unsigned but due to weakness in signedness checker, we had to suppress the error.
Command-
[code]
Code-
[code]
Output-
[code]

[2019-05-13 19:04] mernst commented on #2483
More generally, `@NonNegative int` should be treated as `@Constant` (which will later be renamed to `@SignednessEither`).

[2019-05-16 17:40] smillst commented on #2478
Blocked on implementing upper bounds for qualifiers on class declarations.

[2019-05-16 17:44] mernst commented on #2483
The Signedness Checker needs to read annotations from some other checker:
 * Index Checker annotations `@NonNegative` (and maybe `@Positive`), or
 * Constant Value Checker annotations `@IntRange`.  This is probably the better approach
These will be trusted rather than checked.

Note that `array.length()` is special-cased by the Index Checker (there is nowhere to write an annotation), and so if you

[2019-05-17 22:54] mernst opened #2484 "Index Checker treats `4` differently than `@IntVal(4) int`"
Consider the following code:

[code]

The output of
`javac -g IndexIntValVsConstant.java -processor index`
is
[code]

The first call to `internSubsequence`, which has constant arguments, is permitted, but the second call, which has `@IntVal(...)` arguments, is not.  Both should be treated the same.

[2019-05-18 16:31] mernst opened #2485 "Confusing error message "compound.assignment.type.incompatible" for pre/post increment/decrement"
Consider the following code:

[code]

When you compile this with

```javac -g PredecrementWarning.java -processor org.checkerframework.common.value.ValueChecker```

the Value Checker correctly issues an error.  Here is the error:

[code]

This error message is confusing because it mentions the left-hand side of a compound assignment, but there is none in the Java program being compiled.

Error mes

[2019-05-19 11:05] bmhm commented on #2173
Hello @wmdietl

I was able to reproduce it in another repository:
https://github.com/bmhm/zchunk-java/tree/346dc226208e32012c89c7b7f90386480f4a0906

I use checker 2.8.1.
If you remove the skips at the end (ReflectionUtil and ChecksumUtil), both will fail with this message:

[code]

You can check out that specific commit, remove the skips in the main `pom.xml` and run `mvn clean install -DskipTests

[2019-05-20 18:23] Kakarot-SSJ4 opened #2493 "Wrong compiler interpretation of length properties"
While annotating Apache Commons Lang, I came across an issue which is reduced in the following code:
[code]
Run it by typing in the terminal: javac -processor index tryit.java
Output:
tryit.java:5: error: [compound.assignment.type.incompatible] incompatible result type in compound assignment.
        for(@IndexOrHigh("b") int i = 0; i < a.length ; i++);

  found   : @LTLengthOf(value={"a", "b"}, o

[2019-05-20 18:33] mernst opened #2494 "Index Checker treats `@LessThan("#1 + 1")` as `@UpperBoundUnknown`"
The following code is a simplified version of code in Guava.

[code]

The Index Checker should accept it, but it issues the following error:

[code]

[2019-05-22 00:40] mernst opened #2499 "Checker Framework jar file does not contain checker/resources/javadoc.astub"
The Checker Framework jar file contains a number of .astub files, but it does not contain
checker/resources/javadoc.astub .  It should do so.

This is the reason that the [plume-lib-typecheck job on Travis](https://travis-ci.org/typetests/plume-lib-typecheck) is failing.

[2019-05-23 17:26] Kakarot-SSJ4 opened #2502 "Unable to infer @NonNegative property of elements in a double dimensional array."
Consider the following code:
[code]
Run it by typing in the terminal:
javac -processor index tryit.java

Output:
tryit.java:4: error: [assignment.type.incompatible] incompatible types in assignment.
@NonNegative int a[][] = {{x},{y}};

  found   : @LowerBoundUnknown int @LowerBoundUnknown [] @LowerBoundUnknown []
  required: @NonNegative int @LowerBoundUnknown [] @LowerBoundUnknown []
1 error

Eac

[2019-05-23 17:26] Kakarot-SSJ4 commented on #2502
@kelloggm

[2019-05-23 17:53] #2291 closed

[2019-05-23 18:10] wmdietl commented on #2181
Expand documentation in dataflow manual.

[2019-05-23 23:46] kelloggm commented on #2494
This test passes on master, I suspect because of your pull request (#2490) that I approved a few days ago. I will submit a PR to uncomment the test, and then this issue can be closed.

[2019-05-24 00:42] #2494 closed

[2019-05-24 19:32] wmdietl commented on #1224
@ahubold Thanks a lot for your detailed investigation and sorry for the serious mistakes in that first release.
I've made a second version `3.0.0-b2`, which should have a working `framework-all` artifact with all dependencies in it.

There is also a small example using the Value Checker: https://github.com/eisop/checker-framework/tree/master/docs/examples/MavenExample-framework-all
Once the releas

[2019-05-25 09:10] Kakarot-SSJ4 opened #2505 "Misuse of @LowerBoundBottom"
Consider the following code:
[code]
Run it by typing in the terminal:
javac -processor index tryit.java

Output:
[code]

But, clearly, i >= -1 and is an integer and is not `@LowerBoundBottom`, which suggests it cannot take integral values, and inside the loop, i >= 0 and is `@NonNegative`.

[2019-05-25 17:00] Kakarot-SSJ4 opened #2507 "Checker cannot estimate value of a variable (which is declared outside the loop) inside the loop"
Consider the following code:
[code]

Run it by typing in the terminal:
javac -processor index tryit.java

Output:

tryit.java:6: error: [array.access.unsafe.high.range] Potentially unsafe array access: the index could be larger than the array's bound
 			a[index++] = 0;
 			       ^
  index type found: @IntRange(from=-2147483648, to=9223372036854775807) int
  array type found: @UnknownVal int @Unk

[2019-05-28 00:58] wmdietl commented on #2291
Still experimenting with these here https://github.com/eisop/checker-framework/tree/master/maven-artifacts/release

[2019-05-28 08:40] ahubold commented on #1224
@wmdietl Thank you.

The io.github.eisop:framework-test still has a transitive dependency to org.checkerframework:checker-qual (wrong groupId) of even different versions as reported by the dependencyConvergence report of the Maven enforcer plugin. But I can simply exclude that dependency.

[code]

Our tests now always show the following error:

[code]

The tested class does not have an explicit co

[2019-05-29 12:53] ahubold commented on #1224
wrt 1) You're probably right. I didn't notice the different versions when using the org.checkerframework artifacts because in that case Id manage the version of checker-qual myself in my project. This just popped up because of the different groupId io.github.eisop

wrt 2) Yes, this really seems to be unrelated. Sadly, even after overriding the mentioned method, our checker reports more false posit

[2019-05-31 15:24] Maxi17 opened #2524 "IndexChecker false warning in length - index situations"
Consider the snippet:
[code]
Running javac -processor org.checkerframework.checker.index Testing.java, you will get the following error:
[code]

If `var` is a valid index for `array`, or equal to `array.length`, then the value returned is always 0 or greater.

[2019-05-31 16:47] #2499 closed

[2019-05-31 20:29] gokaco commented on #2483
Consider the following code-
[code]
It gives no errors. Here Value Checker worked. Does it shows that the Signedness Checker is working with Value Checker on variable ```b``` by determining its range to be within ```0 & Integer.MAX_VALUE``` but not on method directly?

[2019-05-31 22:27] smillst commented on #1224
The transitive dependency problem will be fixed in the next release of the org.checkerframework artifacts. @wmdietl should be able to use the same fix for the io.github.eisop artifacts.  Thanks for the report!
https://github.com/typetools/checker-framework/blob/c57933be75deabef588c5e72c6433eee71feeeba/maven-artifacts/release/javacutilReleasePom.xml#L37-L50

[2019-06-01 07:49] bmhm commented on #2173
Got another one.
The last one was fixed by moving the annotation between `final String` instead of the front.

This commit:
https://github.com/zchunk/zchunk-java/commit/c7294aae70615673fbd8604dd63de0aacd9e024f
Has no such issue.

This is the two commits (one push) that broke the build:
https://github.com/zchunk/zchunk-java/compare/62c893aabc1252bb45b8fa3772beae4bf119bb3c...c7294aae70615673fbd8604d

[2019-06-02 23:39] wmdietl commented on #2480
Fixed by https://github.com/typetools/checker-framework/commit/fc7b9a82590f5da8a2eb6c5442509b647b37fe25

[2019-06-02 23:39] #2480 closed

[2019-06-03 01:24] wmdietl commented on #2173
@bmhm Did you try whether you run into the same problem with
https://github.com/eisop/checker-framework ?
There are now separate Maven artifacts to make testing easy: https://github.com/typetools/checker-framework/issues/1224#issuecomment-495764269
My goal is to switch to the Java 9 compiler for the July 2019 release and that should fix this error.

[2019-06-03 01:46] faushine commented on #1914
Have you solved it?

[2019-06-03 15:18] #2469 closed

[2019-06-04 04:24] #2457 closed

[2019-06-04 10:59] bmhm commented on #2173
@wmdietl you can check out the current master branch yourself whenever you like.

However, it does not work with java 8:

[code]

[2019-06-04 14:03] #2468 closed

[2019-06-05 03:05] mernst opened #2533 "More information in error messages relating to invariant type arguments"
Users are sometimes confused why `List<@NonNull String>` is not a subtype of `List<@Nullable String>`.  When a type error is issued, and the incompatibility is due to invariant type arguments, the Checker Framework could add an extra line to the error message, with a brief reference to a manual section such as a FAQ.

[2019-06-05 07:28] gokaco opened #2534 "Signedness Checker inability to treat positive @Signed values as @Constant on non-identifiers"
Consider the following code-
[code]

Output:
[code]
As the returned value of the method is `@Signed` and within the prescribed range so it should be treated as `@Constant` and error should not occur.
Related to #1430.

[2019-06-05 18:30] wmdietl commented on #2533
Related bugs: #481 and #2276.
As discussed in #2276 this requires a bigger refactoring, because `isSubtype` currently only gives us a yes/no, without details for why the failure occured.

[2019-06-05 22:44] akryzhn opened #2536 "The checker fails to analyze new in map javax annotations"
Checkerframework doesn't seem to like embedded validation annotations as you see for the Map Strings in the example below.

[code]

I get the following error from checkergramework:
[code]

Checkerframework version:
`ext.checkerFrameworkVersion = '2.8.0'`

[2019-06-05 23:14] mernst commented on #2536
I'm sorry you are having trouble.  Could you please provide a reproducible example, as explained in [the manual](https://checkerframework.org/manual/#reporting-bugs)?  That will enable us to reproduce the problem and verify a fix.

[2019-06-06 11:38] rkraneis opened #2537 "@Present annotion on java.util.Optional orElseThrow receiver"
While introducing OptionalChecker into our code base I stumbled upon an exception I couldn't make too much sense of:
[code]
This indicates, that I may only call `orElseThrow` on a non-empty `Optional` -- which does not make too much sense to me.

Digging into this I started to compare `orElseThrow` with the two similiar methods `orElse` and `orElseGet`, both of which do not require the `Optional`

[2019-06-06 16:52] wmdietl commented on #2537
The motivation for this is that `orElseThrow` on an empty `Optional` would throw an exception.
We want to prevent any exceptions from mis-uses of `Optional` - both the `NoSuchElementException` from `get` and the user-defined exception from `orElseThrow`.
On the other hand, both `orElse` and `orElseGet` are safe to use on any `Optional`, as they provide default objects.

If you are fine with an exc

[2019-06-06 19:38] wmdietl opened #2538 "Clean up logic to determine whether an annotation is a type annotation"
#2298 added checks to ensure annotations and modifiers are ordered properly.
This duplicated some logic in `BaseTypeVisitor.isTypeAnnotation` that would be more properly put into `AnnotatedTypes`, which already containes an `isTypeAnnotation` method.
#2376 started work on this clean up, but is running into problems.
Solving this issue would reduce duplication and move logic to a consistent place.

[2019-06-07 00:03] mernst opened #2540 "Cast from char to int loses IntRange information"
When a char is cast to an int (including via arithmetic promotion, which applies to the arguments of operators such as <<), the Index Checker should keep track of the value's bounds.  That is not currently the case.  (Or is this a problem with the Constant Value Checker?)

Here is a test case, which is commetted to the repository as `checker/tests/index/CharToIntCast.java`.

[code]

The code shoul

[2019-06-07 00:23] mernst opened #2541 "Index Checker cannot compare `@LessThan("2+1")` against `@LessThan("3")`"
The Index Checker issues a false positive warning for the following code.

[code]
Its output is:
[code]

This comes up in Guava.

[2019-06-07 00:44] mernst commented on #2537
This is explained in the manual in section [Annotations indicate non-exceptional behavior](https://checkerframework.org/manual/#annotate-normal-behavior).

[2019-06-07 08:22] rkraneis commented on #2537
Thanks for the explanation. Although I think that explicitly throwing user defined exceptions should be allowed (as `orElseThrow` is quite more verbose/indicative of consequences than e.g. `get`, which probably should have been called `getIfPresentOrThrowNoSuchElementException` ...). Especially in combination with Streams it is quite annoying to get the suppression in the smallest possible scope (

[2019-06-07 08:28] rkraneis commented on #2537
To also answer your question @wmdietl , we actually _do_ want to throw an exception in this special case. So allowing to throw an exception here to just catch it in an outer block would not solve our problem (and I'd actually regard it as a code smell). In cases where we care about the exception we actually tend to use `Either<Foo, Exception>` (from e.g. the vavr library).

[2019-06-07 14:33] mernst commented on #2537
René-

It sounds like you are in agreement with the semantics.  Can we close this issue?

You brought up several excellent points:

Agreed.  :-)  The designers of Optional told me that they regret not giving `get` a more forbidding name.

I agree.  This is a general problem with "fluent" APIs.  I don't have a good solution for this.  In some cases static verification, such as with the Nullness Che

[2019-06-07 15:50] rkraneis commented on #2537
Yes, I'd personally see the explicit nature of the method name as sufficient, but that's just a point of view :-). It might be a good idea to mention this explicitly in the documentation for Option Checker though, as it only mentions to avoid `get` and `isPresent`.
Thank's for your time and this excellent tool!

[2019-06-07 15:50] #2537 closed

[2019-06-08 14:59] mernst opened #2543 "Signedness Checker permits polymorphic type when not all the instantiations are legal"
When a method that contains a `@Poly...` annotation type-checks, we expect all instantiations of it to type-check.  That is not the case for the below example.  The `@PolySigned` version of the method type-checks, but the `@Signed` version fails type-checking:

[code]

[code]

[2019-06-13 19:07] mernst commented on #2173
Can you please try to reproduce this problem using the Java 8 compiler, version 211 or later?
Version 211 fixes some bugs, whereas previous versions create incorrect `.class` files for certain code that uses wildcards.

[2019-06-13 19:07] mernst commented on #2536
Which version of Java are you using?
Can you please try to reproduce this problem using the Java 8 compiler, version 211 or later?
Version 211 fixes some bugs, whereas previous versions create incorrect .class files for certain code that uses wildcards.

[2019-06-13 19:08] mernst commented on #2536
Possibly related: #2173.

[2019-06-14 06:47] bmhm commented on #2173
No, does not work.

1. Java version

[code]

2. Compilation

[code]

@mernst  I think we got a new error (no such method).

Please be so kind and check out the project yourself and compile using:

[code]

[2019-06-16 21:36] mernst opened #2557 "Remove `METHOD` from `@Target` meta-annotation of `LengthOf`"
It is surprising that the type annotation LengthOf is meta-annotated as

[code]

Here is an excerpt from commit 71379bb7de:

[code]

We have a FAQ that says not to make an annotation applicable to [both type uses and declarations](https://checkerframework.org/manual/#faq-no-annotation-on-types-and-declarations).

The `METHOD` target has surprising results.
For example, it means that when a source

[2019-06-17 22:25] kelloggm commented on #2557
This behavior isn't great, I agree.

The reason for it is that `@LengthOf` isn't actually claimed by any checker, so there is no `AnnotatedTypeFactory` to query the return type of the method. `@LengthOf` is an alias for `@LTEqLengthOf`, but there's no way to differentiate the two from an annotated type factory's perspective.

One alternative would be looking at the annotation the user actually wro

[2019-06-17 22:32] mernst commented on #2557
`@LengthOf` expresses a fact about an expression's value.  Therefore, it should be a type annotation.  Also, for maximal expressiveness and least surprise, it should be permitted to be written on any type, and not just on method return types.

I think a better solution is to make `@LengthOf` only a type annotation, rather than making it only a method annotation.

If `@LengthOf` is a type annotatio

[2019-06-17 22:54] kelloggm commented on #2557
`@LengthOf` doesn't fit into any of the Index Checker's existing type systems, because it is a "two-sided" annotation - it contains information about both the lowerbound and the upperbound. It's therefore most natural to represent it as an alias for `@NonNegative @LtEqLengthOf`, which is what is done now.

As we both mentioned above, however, this prevents the SameLen Checker from finding this ann

[2019-06-17 23:05] mernst commented on #2557
As currently specified, `@LengthOf` is a type annotation and not a method annotation.

Changing its name, semantics, and target locations (as you propose) would be better than the current situation, and would address the known use cases.  So, I could support that change.
Thanks for the suggestion.

[2019-06-19 12:55] gokaco opened #2561 "Index Checker unable to infer length properties of CharSequence length() method"
Consider the following code:-
[code]
Command:-
[code]
Output:-
[code]
If I change code to:-
[code]
then it works fine.

[2019-06-19 15:41] mernst commented on #2534
I expanded the test case, and simplified its somewhat.  In general, it would be helpful if you could do a bit more simplification to narrow down the cause.  That will help with debugging and enable you to give a more descriptive title (this isn't specific to methods).

The fact that `c = field` works, but `c = qwe()` and `c = this.field` do not work, indicates that the problem is the hard-coding o

[2019-06-19 17:06] kelloggm commented on #2561
This is by design: a `String` is immutable (meaning its length cannot change), but a `CharSequence` could be a mutable-length collection (for instance, it might be a `StringBuilder`. The interaction between `CharSequence` and `String` in the Index Checker can be somewhat confusing because `String` is a subtype of `CharSequence`, but the Index Checker treats them differently. When designing the che

[2019-06-19 17:13] gokaco commented on #2561
@kelloggm This error occured in travis while building this pull request- #2523 . How to suppress this error then?
Link to travis- [link](https://travis-ci.org/typetools/checker-framework/jobs/547170907#L1925)

Thanks

[2019-06-19 17:17] kelloggm commented on #2561
You should suppress both warnings and include a link to this issue, since it contains an explanation of the design.

[2019-06-19 17:28] gokaco commented on #2561
@kelloggm This error is due to typetools/guava [Ascii.java](https://github.com/typetools/guava/blob/master/guava/src/com/google/common/base/Ascii.java) occurring at line number 438 and 488. Do you mean to say that these function [toLowerCase](https://github.com/typetools/guava/blob/0d3dafcb1e50702d0838f12c3313d19331bc1f2e/guava/src/com/google/common/base/Ascii.java#L432) and [toUpperCase](https://

[2019-06-19 17:37] kelloggm commented on #2561
@gokaco:

Please surround any annotation with backticks (\`); otherwise a user will get get pinged.

For you question: Yes, it looks like they were incorrectly annotated. I don't know why no warning was issued before - I would expect those to always issue an error. Perhaps the code has recently been updated? Regardless, the warnings should be suppressed, because they are false positives (assuming

[2019-06-20 18:42] mernst commented on #2536
I am closing this because there is not sufficient information to reproduce the problem.
We can reopen it if someone is able to provide the needed information.

[2019-06-20 18:42] #2536 closed

[2019-06-20 19:05] gdzulu opened #2564 "Crash on enum-enclosed @KeyFor-annotated field"
Given the following code that is subject to nullness check:
[code]
The checker crashes for the following output:
[code]

[2019-06-20 19:14] gdzulu opened #2565 "Crash on wildcards with enum bounds (List<Error<? extends Enum<?>>>)"
Given the following Java class,
[code]

The checker crashes with the following output:

[code]

[2019-06-20 21:09] olegz-circle commented on #1329
Hey @mernst, @wmdietl , it's an old thread but can't find anything more relevant. Have the same problem as @DavidBriant
[code]
Here is maven [project](https://github.com/olegz-circle/checker-subtyping) with code from [tutorial](https://github.com/typetools/checker-framework/tree/master/docs/tutorial/src/encrypted)

to reproduce execute `mvn clean compile`